<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/SampleCoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 정수형, 실수형
a = 123
b = -123.4
a+b

-0.4000000000000057

In [2]:
# if문 예시
money = 4000
if money == 3000:
   print("KTX 타고 가자")
elif money >= 5000:
   print("버스 타고 가자")
else:
   print("걍 걸어가!")

걍 걸어가!

In [3]:
# while문 기본
i = 0
while i < 5:
   print(i)
   i = i +1

0
1
2
3
4

In [6]:
import pandas as pd

# data조회 기본
train = pd.read_csv("/content/sample_data/california_housing_test.csv")
train.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]