<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/CH4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4. A to Z 빅데이터 분석 실습

## 3.실습 A to Z – Penguin

### Penguin Dataset
- https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

### (2) 사전준비

420

In [14]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./penguin_X_test.csv")
X_train = pd.read_csv("./penguin_X_train.csv")
y_train = pd.read_csv("./penguin_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

421

In [54]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

422

In [55]:
X_test = pd.read_csv("./penguin_X_test.csv")
X_train = pd.read_csv("./penguin_X_train.csv")
y_train = pd.read_csv("./penguin_y_train.csv")

423

In [59]:
print(X_train.info()) # 결측치 확인
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 1 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            232 non-null    object
 1   island             232 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     232 non-null    float64
 4   bill_depth_mm      232 non-null    float64
 5   flipper_length_mm  232 non-null    float64
dtypes: float64(3), object(3)
memory usage: 12.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            101 non-null    object
 1   island             101 non-null    object
 2   sex                101 non-null    object
 3   bill_length_mm     101 non-null    float64
 4   bill_depth_mm      101 non-null    float64
 5   flipper_length_mm  101 non-null    float64
dtypes: float64(3), object(3)
memory usage: 4.9+ KB
None

424

In [72]:
train =  pd.concat([X_train, y_train], axis=1) # 왼쪽 오른쪽으로 합치기
train.loc[(train.sex.isna()) | (train.bill_length_mm.isna()) | (train.bill_depth_mm.isna()) | (train.flipper_length_mm.isna()) | (train.body_mass_g.isna())]

train = train.dropna()
train.reset_index(drop=True, inplace=True)

425

In [74]:
X_train = train[['species','island', 'sex','bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']]
y_train = train[['body_mass_g']]

426

In [75]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

427

In [76]:
# 불필요 변수
COL_DEL = []
# 수치형 변수
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
# 범주형 변수 
COL_CAT = ['species','island', 'sex']
# 종속 변수
COL_Y = ['body_mass_g']

428

In [77]:
X = pd.concat([X_train, X_test])

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X[COL_CAT])
# numpy array로 변환
X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

429

In [78]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

430

In [79]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names())
print(X_train_ohe)

X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis=1)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]

431

In [80]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3)

432

In [81]:
##### 수치형 변수 - 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM]=scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]=scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM]=scaler.transform(X_test_fin[COL_NUM])

433

In [92]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[[3080.99148701]
 [5513.84804246]
 [4784.01589927]
 [3996.96441714]
 [5436.89407373]
 [5575.79673464]
 [3403.60635266]
 [3502.51050774]
 [5587.36798001]
 [3976.04813925]
 [3927.57523268]
 [3391.33556542]
 [4261.11008127]
 [5428.31170493]
 [5501.28050489]
 [3264.74197951]
 [4101.27312554]
 [3999.56202901]
 [5706.99332386]
 [3891.37663022]
 [4773.4813823 ]
 [2996.75960575]
 [4282.58074727]
 [4722.08849942]
 [3302.23588146]
 [4808.9258312 ]
 [4739.29450811]
 [4113.5146687 ]
 [5270.61731777]
 [3608.4455814 ]
 [4008.47503603]
 [3318.82153229]
 [5398.74415798]
 [4715.31400803]
 [3296.5648703 ]
 [4098.88237109]
 [4312.38726597]
 [3655.66091326]
 [4088.30741791]
 [3474.07624351]
 [4821.9045325 ]
 [3565.44268505]
 [3379.13445847]
 [3488.13928114]
 [3865.41783432]
 [5018.35955309]
 [4024.7049428 ]
 [4219.59338973]
 [5263.0525335 ]
 [3491.01245952]
 [3601.06445772]
 [5409.62082989]
 [4059.70340221]
 [3466.48165674]
 [4099.95083895]
 [4729.00212977]
 [4380.87362624]
 [3748.24021656]
 [3393.03410635]
 [5680.22779807]
 [5304.41861746]
 [3855.43716182]
 [4932.47807728]
 [4727.13168893]
 [3842.17019547]
 [3494.74904432]
 [4100.96095969]
 [4300.46658541]
 [5414.64702397]
 [3822.79417565]]

434

In [93]:
print(modelLR.intercept_)

coef = pd.Series(data=modelLR.coef_[0], index= X_train_fin.columns)
print(coef.sort_values())

[3274.85247625]
x0_Chinstrap        -475.558071
x0_Adelie           -222.863712
x2_FEMALE           -191.807393
x1_Dream             -74.647205
x1_Torgersen          30.439656
x1_Biscoe             44.207548
x2_MALE              191.807393
bill_depth_mm        452.312576
bill_length_mm       677.641049
x0_Gentoo            698.421783
flipper_length_mm    831.140614
dtype: float64

435

In [95]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)                 # 1. mse
rmse = mean_squared_error(y_val, y_val_pred, squared=False) # 2. rmse : np.sqrt(mse)도 가능

print('MSE : {0:.3f} , RMSE : {1:.3F} '.format(mse , rmse))

MSE : 105258.812 , RMSE : 324.436

436

In [125]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

[[4151.89187609]
 [5313.71040671]
 [4078.04699052]
 [3415.7066084 ]
 [4701.20417247]
 [3943.97666449]
 [3382.53766566]
 [3745.03479532]
 [3507.05744782]
 [3468.39750221]
 [3329.31526611]
 [5517.97879555]
 [3607.34628955]
 [4052.08967156]
 [3842.15999231]
 [4066.03907582]
 [4387.59078894]
 [3482.11894332]
 [3526.0507131 ]
 [3381.01451155]
 [5338.95277839]
 [4204.30019505]
 [5962.59203215]
 [4674.31435468]
 [5408.48539872]
 [5532.05249179]
 [5555.82699256]
 [4272.08451808]
 [3397.60233877]
 [3977.67711298]
 [4150.62750911]
 [3353.71748001]
 [3509.68204223]
 [4634.47572173]
 [3311.09382134]
 [3511.13095281]
 [3281.66812023]
 [3466.25127879]
 [3914.83660519]
 [4975.36516691]
 [3451.37834894]
 [5626.31546887]
 [5021.37187045]
 [4677.85138552]
 [5831.09157575]
 [3792.63290644]
 [4785.94592021]
 [3310.09808757]
 [5387.10820072]
 [4220.20410742]
 [4641.8757778 ]
 [4779.78644342]
 [4151.60521584]
 [3802.62412447]
 [3180.26151428]
 [4363.73774774]
 [4829.54672719]
 [4618.38814877]
 [3822.33892086]
 [4086.34872142]
 [3606.85369023]
 [4896.66290087]
 [3298.43960804]
 [4932.61936471]
 [4049.81236388]
 [4090.06532744]
 [5501.99422224]
 [3169.21431087]
 [4785.17477121]
 [3676.15966571]
 [4026.61367142]
 [3398.64757734]
 [4769.96349535]
 [3319.94641336]
 [4878.58059508]
 [4637.73017772]
 [5399.73746684]
 [3345.89356167]
 [3527.951387  ]
 [4843.38043325]
 [3484.81321802]
 [5755.15089465]
 [3358.16627575]
 [4853.56766348]
 [4705.24892134]
 [3351.09503404]
 [5657.49002571]
 [4200.67716   ]
 [3816.44354653]
 [4819.38293774]
 [4112.74317278]
 [4085.66582806]
 [4108.42126737]
 [4182.5512511 ]
 [5455.13681083]
 [4156.60990609]
 [5277.73694744]
 [3656.29823862]
 [4827.41500383]
 [5368.78590475]
 [3606.28722243]]

437

In [129]:
pd.DataFrame({'penguin': X_test_fin.index, 'body_mass_g': y_pred[:,0]}).to_csv('004000000.csv', index=False)