<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/P3_C2_PythonExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 2. 기출 문제 : 빅데이터분석기사 3회**

## 1. 단답형

## 2. 작업형 제1유형

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

### (1) 번 문제

#### 301 데이터 불러오기 & 탐색하기

In [ ]:
import pandas as pd

housing = pd.read_csv("./yemoonsaBigdata/datasets/301_housing.csv")
housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### 302 결측값 탐색하기

In [ ]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

#### 303 결측값 제거하기

In [ ]:
housing_dropna = housing.dropna(inplace=False)

print("원본데이터 건수 : ", len(housing))
print("결측값제거 데이터 건수 : ", len(housing_dropna))

원본데이터 건수 :  20640
결측값제거 데이터 건수 :  20433

#### 304 훈련 데이터 추출하기

In [ ]:
housing_dropna_70 = housing_dropna.iloc[:int(len(housing_dropna) * 0.7)]

print("70%추출 데이터 건수 : ", len(housing_dropna_70))

70%추출 데이터 건수 :  14303

#### 305 제1사분위수 구하기

In [ ]:
result = int(housing_dropna_70['housing_median_age'].quantile(0.25))

result

19

### (2) 번 문제

#### 306 데이터 불러오기 & 탐색하기

In [ ]:
import pandas as pd

disease = pd.read_csv("./yemoonsaBigdata/datasets/302_worlddata.csv")
disease.head(5)

,year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,...,Tanzania,USA,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1999,0,89.0,25.0,245.0,217.0,102.0,193.0,21.0,261.0,...,36.0,249.0,115.0,25.0,21.0,333.0,111,6.0,32.0,64.0
1,2000,0,132.0,0.0,138.0,57.0,128.0,25.0,179.0,72.0,...,6.0,158.0,35.0,101.0,18.0,100.0,2,0.0,19.0,18.0
2,2001,0,54.0,14.0,312.0,45.0,45.0,221.0,11.0,212.0,...,1.0,84.0,220.0,8.0,11.0,3.0,1,0.0,4.0,4.0
3,2002,0,4.9,0.7,12.4,5.9,4.9,8.3,3.8,10.4,...,5.7,8.7,6.6,2.4,0.9,7.7,2,0.1,2.5,4.7

####307 특정 조건 데이터 추출하기

In [ ]:
disease_2000 = disease[disease['year'] == 2000]
disease_2000

,year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,...,Tanzania,USA,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
1,2000,0,132.0,0.0,138.0,57.0,128.0,25.0,179.0,72.0,...,6.0,158.0,35.0,101.0,18.0,100.0,2,0.0,19.0,18.0

####308 행열 변환 & 행 삭제

In [ ]:
disease_2000_T = disease_2000.T
disease_2000_T_drop = disease_2000_T.drop(['year'], axis=0)
disease_2000_T_drop.columns=['value']

disease_2000_T_drop

             value
Afghanistan    0.0
Albania      132.0
Algeria        0.0
Andorra      138.0
Angola        57.0
...            ...
Venezuela    100.0
Vietnam        2.0
Yemen          0.0
Zambia        19.0
Zimbabwe      18.0

[193 rows x 1 columns]

####309 평균값 계산하기

In [ ]:
mean = disease_2000_T_drop['value'].mean()

mean

81.01036269430051

####310 특정 조건 데이터 추출하기

In [ ]:
disease_final = disease_2000_T_drop[disease_2000_T_drop['value'] > mean]

disease_final

                      value
Albania               132.0
Andorra               138.0
Antigua & Barbuda     128.0
Armenia               179.0
Bahamas               176.0
...                     ...
United Arab Emirates  135.0
United Kingdom        126.0
USA                   158.0
Uzbekistan            101.0
Venezuela             100.0

[76 rows x 1 columns]

####311 데이터 건수 구하기

In [ ]:
result = len(disease_final)

result

76

### (3) 번 문제

#### 312 데이터 불러오기 & 탐색하기

In [ ]:
import pandas as pd

titanic = pd.read_csv("./yemoonsaBigdata/datasets/303_titanic.csv")
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C123,S

#### 313 결측값 탐색하기

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        773 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### 314 결측값 개수 집계하기

In [ ]:
titanic_isna = titanic.isna().sum()

titanic_isna

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          118
Embarked         2
dtype: int64

#### 315 최대 집계값 위치

In [ ]:
max_ind = titanic_isna.argmax()

max_ind

5

#### 316 인덱스 이름 구하기

In [ ]:
result = titanic_isna.index[max_ind]

result

'Age'

## 3. 작업형 제2유형

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 131, done.
remote: Counting objects: 100% (131/131), done.
remote: Compressing objects: 100% (125/125), done.
remote: Total 131 (delta 61), reused 4 (delta 1), pack-reused 0
Receiving objects: 100% (131/131), 3.03 MiB | 5.34 MiB/s, done.
Resolving deltas: 100% (61/61), done.

### (1) 번 문제

In [ ]:
# Travel Insurance Data
# https://www.kaggle.com/agileteam/traval-insurance-exam?select=train.csv
# https://www.kaggle.com/agileteam/traval-insurance-exam?select=test.csv

#### 317 데이터 불러오기 & 탐색하기

In [ ]:
import pandas as pd

df_train = pd.read_csv("./yemoonsaBigdata/datasets/304_travel_insurance_train.csv")
df_test = pd.read_csv("./yemoonsaBigdata/datasets/304_travel_insurance_test.csv")
df_train.head(5)

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1704,26,Private Sector/Self Employed,Yes,1400000,3,1,No,Yes,0
1,491,28,Private Sector/Self Employed,Yes,1100000,4,1,No,No,1
2,414,33,Private Sector/Self Employed,Yes,1400000,4,0,No,Yes,1
3,120,28,Private Sector/Self Employed,Yes,800000,3,1,No,No,0
4,1268,33,Government Sector,Yes,1000000,5,0,No,Yes,1

#### 318 훈련 데이터 추출하기

In [ ]:
x_train = df_train.drop(columns='TravelInsurance')
y_train = df_train[['ID', 'TravelInsurance']]

x_test = df_test.copy()

x_train.to_csv('./yemoonsaBigdata/examDataset/304_x_train.csv', index=False)
y_train.to_csv('./yemoonsaBigdata/examDataset/304_y_train.csv', index=False)
x_test.to_csv('./yemoonsaBigdata/examDataset/304_x_test.csv', index=False)

x_train = pd.read_csv("./yemoonsaBigdata/examDataset/304_x_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/examDataset/304_y_train.csv")
x_test = pd.read_csv("./yemoonsaBigdata/examDataset/304_x_test.csv")

x_train.shape, y_train.shape, x_test.shape

((1490, 9), (1490, 2), (497, 9))

#### 319 독립변수 준비하기

In [ ]:
df_x = pd.concat([x_train, x_test])
df_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   object
 3   GraduateOrNot        1987 non-null   object
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   object
 8   EverTravelledAbroad  1987 non-null   object
dtypes: int64(5), object(4)
memory usage: 155.2+ KB

#### 320 결측값 채우기

In [ ]:
df_x = df_x.fillna(0)
df_x.isna().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

#### 000 독립변수 탐색하기

In [ ]:
obj_cols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']

for i in obj_cols:
    print(df_x[i].value_counts(), "\n")

Private Sector/Self Employed    1417
Government Sector                570
Name: Employment Type, dtype: int64

Yes    1692
No      295
Name: GraduateOrNot, dtype: int64

No     1570
Yes     417
Name: FrequentFlyer, dtype: int64

No     1607
Yes     380
Name: EverTravelledAbroad, dtype: int64

#### 000 종속변수 탐색하기

In [ ]:
y_train['TravelInsurance'].value_counts()

0    950
1    540
Name: TravelInsurance, dtype: int64

#### 321 독립변수 라벨링 인코딩

In [ ]:
df_le = df_x.copy()
df_le['Employment Type'] = df_x['Employment Type'].replace(['Private Sector/Self Employed', 'Government Sector'], [0, 1])
df_le['GraduateOrNot'] = df_x['GraduateOrNot'].replace(['No', 'Yes'], [0, 1])
df_le['FrequentFlyer'] = df_x['FrequentFlyer'].replace(['No', 'Yes'], [0, 1])
df_le['EverTravelledAbroad'] = df_x['EverTravelledAbroad'].replace(['No', 'Yes'], [0, 1])

df_le.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   int64
 3   GraduateOrNot        1987 non-null   int64
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   int64
 8   EverTravelledAbroad  1987 non-null   int64
dtypes: int64(9)
memory usage: 155.2 KB

#### 000 상관계수 탐색하기

In [ ]:
print(df_le.corr())

                           ID       Age  Employment Type  GraduateOrNot  \
ID                   1.000000 -0.004917         0.015769      -0.008602
Age                 -0.004917  1.000000         0.115134       0.027125
Employment Type      0.015769  0.115134         1.000000       0.127133
GraduateOrNot       -0.008602  0.027125         0.127133       1.000000
AnnualIncome        -0.025031 -0.020101        -0.349157       0.108066
FamilyMembers       -0.041506  0.027409         0.003354       0.021201
ChronicDiseases     -0.006858  0.007359         0.011553       0.018811
FrequentFlyer       -0.004596 -0.033159        -0.143790      -0.028120
EverTravelledAbroad -0.002160 -0.012779        -0.181098       0.062683

                     AnnualIncome  FamilyMembers  ChronicDiseases  \
ID                      -0.025031      -0.041506        -0.006858
Age                     -0.020101       0.027409         0.007359
Employment Type         -0.349157       0.003354         0.011553
GraduateOrNot            0.108066       0.021201         0.018811
AnnualIncome             1.000000      -0.015367        -0.001149
FamilyMembers           -0.015367       1.000000         0.028209
ChronicDiseases         -0.001149       0.028209         1.000000
FrequentFlyer            0.353087      -0.023775        -0.043720
EverTravelledAbroad      0.486043      -0.020755         0.021238

                     FrequentFlyer  EverTravelledAbroad
ID                       -0.004596            -0.002160
Age                      -0.033159            -0.012779
Employment Type          -0.143790            -0.181098
GraduateOrNot            -0.028120             0.062683
AnnualIncome              0.353087             0.486043
FamilyMembers            -0.023775            -0.020755
ChronicDiseases          -0.043720             0.021238
FrequentFlyer             1.000000             0.277334
EverTravelledAbroad       0.277334             1.000000

#### 000 머신러닝 패키지 불러오기

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

#### 322 모델 점수 계산 함수 생성

In [ ]:
from sklearn.metrics import roc_auc_score

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred1 = model.predict_proba(xtrain)[:, 1]
    ypred2 = model.predict_proba(xtest)[:, 1]    
    C = roc_auc_score(ytrain, ypred1)  
    D = roc_auc_score(ytest, ypred2) 
    return '{:.4f} {:.4f} {:.4f} {:.4f}'.format(A, B, C, D)

#### 323 머신러닝 모델 실행 함수 생성

In [ ]:
def make_models(xtrain, xtest, ytrain, ytest, rs):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))

    model2 = DecisionTreeClassifier(random_state=rs).fit(xtrain, ytrain)
    print('model2', get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model2 = DecisionTreeClassifier(max_depth=d, random_state=rs).fit(xtrain, ytrain)
        print('model2', d, get_scores(model2, xtrain, xtest, ytrain, ytest))

    model3 = RandomForestClassifier(random_state=rs).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = RandomForestClassifier(500, max_depth=d, random_state=rs).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    model4 = XGBClassifier(eval_metric='logloss', use_label_encoder=False).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

#### 324 스케일링 & 머신러닝 전처리

In [ ]:
x_le = df_le.drop(columns=['ID'])

x_le_train = x_le.iloc[:1490, :]
x_le_test = x_le.iloc[1490:, :]

scaler = MinMaxScaler()
x_final_train = scaler.fit_transform(x_le_train)
x_final_test = scaler.fit_transform(x_le_test)

y_final_train = y_train['TravelInsurance']

print(x_final_train.shape, x_final_test.shape, y_final_train.shape)

(1490, 8) (497, 8) (1490,)

#### 325 훈련 데이터 추출하기

In [ ]:
rs = 1234
xtrain, xtest, ytrain, ytest = train_test_split(x_final_train, y_final_train, test_size = 0.3, stratify=y_final_train, random_state=rs)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(1043, 8) (447, 8) (1043,) (447,)

#### 326 머신러닝 실행

In [ ]:
make_models(xtrain, xtest, ytrain, ytest, rs)

model1 0.7699 0.7673 0.7821 0.7693
model2 0.9501 0.7450 0.9941 0.7256
model2 3 0.8360 0.8434 0.8173 0.8212
model2 4 0.8370 0.8389 0.8326 0.8297
model2 5 0.8418 0.8255 0.8481 0.8304
model2 6 0.8485 0.8143 0.8652 0.7854
model2 7 0.8619 0.8031 0.8822 0.7793
model3 0.9501 0.7740 0.9931 0.7938
model3 3 0.7987 0.7919 0.8261 0.8075
model3 4 0.8303 0.8188 0.8425 0.8097
model3 5 0.8408 0.8389 0.8661 0.8123
model3 6 0.8428 0.8412 0.9011 0.8126
model3 7 0.8504 0.8389 0.9253 0.8145
model4 0.8408 0.8345 0.8913 0.8176

#### 327 최종 모델 실행

In [ ]:
final_model = DecisionTreeClassifier(max_depth=5, random_state=rs).fit(xtrain, ytrain)
print('final model', get_scores(final_model, xtrain, xtest, ytrain, ytest))

final model 0.8418 0.8255 0.8481 0.8304

#### 328 최종 모델 예측 결과 구하기

In [ ]:
y_final_pred = final_model.predict_proba(x_final_test)[:, 1]

result = pd.DataFrame({"ID": x_test["ID"], "TravelInsurance" : y_final_pred})
result

       ID  TravelInsurance
0    1569         0.276190
1    1344         1.000000
2    1429         0.182609
3     896         0.294118
4     101         1.000000
..    ...              ...
492  1376         0.182609
493    87         0.013158
494   287         0.182609
495   337         0.276190
496    92         0.182609

[497 rows x 2 columns]

#### 000 최종 모델 예측 결과 파일 생성

In [ ]:
result.to_csv("./yemoonsaBigdata/examDataset/304_result.csv", index=False)