# **Chapter 2. 파이썬 빅데이터 분석 패키지**

## 2. 판다스 (Pandas)

### (1) 판다스 (Pandas) 개요

### (2) 시리즈(Series)와 데이터프레임(DataFrame) 이해하기

#### 222-01 판다스 임포트

In [1]:
import pandas as pd

#### 222-02 시리즈

In [2]:
s = pd.Series([1, 3, 5, 6, 8])

print(s)
print(s.index)
print(s.values)

0    1
1    3
2    5
3    6
4    8
dtype: int64
RangeIndex(start=0, stop=5, step=1)
[1 3 5 6 8]

#### 222-03 데이터프레임

In [3]:
v = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
i = ['첫째행', '둘째행', '셋째행']
c = ['컬럼1', '칼럼2', '칼럼3']

df = pd.DataFrame(v, index=i, columns=c)
print(df)

     컬럼1  칼럼2  칼럼3
첫째행    1    2    3
둘째행    4    5    6
셋째행    7    8    9

### (3) 데이터프레임 생성하기

#### 223-01 리스트로 생성하기

In [4]:
d = [
    ['100', '강백호', 9.7], 
    ['101', '송태섭', 8.9], 
    ['102', '서태웅', 9.3], 
    ['103', '채치수', 6.1] 
    ]
df = pd.DataFrame(d, columns=['번호', '이름', '점수'])
print(df)

    번호   이름   점수
0  100  강백호  9.7
1  101  송태섭  8.9
2  102  서태웅  9.3
3  103  채치수  6.1

#### 223-02 딕셔너리로 생성하기

In [5]:
d = {
    '번호' : ['100', '101', '102', '103'],
    '이름' : [ '강백호', '송태섭', '서태웅', '채치수'],
    '점수': [9.7, 8.9, 9.3, 6.1,]
    }

df = pd.DataFrame(d)
print(df)

    번호   이름   점수
0  100  강백호  9.7
1  101  송태섭  8.9
2  102  서태웅  9.3
3  103  채치수  6.1

#### 223-03 csv 파일로 생성하기

In [6]:
housing_df = pd.read_csv('/content/sample_data/california_housing_train.csv')

print('housing 변수 type : ', type(housing_df))
print(housing_df)

housing 변수 type :  <class 'pandas.core.frame.DataFrame'>
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

### (4) 데이터프레임 훑어보기

#### 224-01 데이터프레임 head 함수

In [7]:
print('DataFrame 크기 : ', housing_df.shape)
print(housing_df.head(5))

DataFrame 크기 :  (17000, 9)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0

#### 224-02 데이터프레임 info 함수

In [8]:
print(housing_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB
None

#### 224-03 데이터프레임 describe 함수

In [9]:
print(housing_df.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

#### 224-04 시리즈 head 함수

In [10]:
housing_median_age = housing_df['housing_median_age']
print(housing_median_age.head())

0    15.0
1    19.0
2    17.0
3    14.0
4    20.0
Name: housing_median_age, dtype: float64

#### 224-05 시리즈 value_counts 함수

In [11]:
value_counts = housing_median_age.value_counts()
print(value_counts)

52.0    1052
36.0     715
35.0     692
16.0     635
17.0     576
34.0     567
33.0     513
26.0     503
18.0     478
25.0     461
32.0     458
37.0     437
15.0     416
19.0     412
28.0     400
27.0     397
24.0     389
31.0     384
30.0     384
20.0     383
23.0     382
29.0     374
21.0     373
14.0     347
22.0     323
38.0     318
42.0     308
39.0     302
44.0     296
43.0     286
13.0     249
40.0     249
45.0     235
41.0     232
10.0     226
11.0     208
5.0      199
46.0     196
12.0     192
8.0      178
47.0     175
9.0      172
4.0      161
7.0      151
48.0     135
6.0      129
50.0     112
49.0     111
2.0       49
3.0       46
51.0      32
1.0        2
Name: housing_median_age, dtype: int64

### (5) 데이터프레임 컬럼 생성과 수정

#### 225-01 신규 컬럼 생성하기 기본

In [12]:
housing_df['Age_0'] = 0
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0
0      1015.0       472.0         1.4936             66900.0      0
1      1129.0       463.0         1.8200             80100.0      0
2       333.0       117.0         1.6509             85700.0      0

#### 225-02 신규 컬럼 생성하기 응용

In [13]:
housing_df['Age_by_10'] = housing_df['housing_median_age'] // 10
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0        1.0
1      1129.0       463.0         1.8200             80100.0      0        1.0
2       333.0       117.0         1.6509             85700.0      0        1.0

#### 225-03 컬럼 데이터 수정하기

In [14]:
housing_df['Age_by_10'] = housing_df['Age_by_10'] * 10
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0       10.0
1      1129.0       463.0         1.8200             80100.0      0       10.0
2       333.0       117.0         1.6509             85700.0      0       10.0

#### 225-04 신규 컬럼 value_counts 함수

In [15]:
value_counts = housing_df['Age_by_10'].value_counts()
print(value_counts)

30.0    4770
20.0    3985
10.0    3739
40.0    2223
50.0    1196
0.0     1087
Name: Age_by_10, dtype: int64

### (6) 데이터프레임 데이터 삭제

#### 226-01 컬럼 데이터 삭제하기

In [16]:
housing_drop_df = housing_df.drop('Age_0', axis=1)
print(housing_drop_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_by_10
0      1015.0       472.0         1.4936             66900.0       10.0
1      1129.0       463.0         1.8200             80100.0       10.0
2       333.0       117.0         1.6509             85700.0       10.0

#### 226-02 복수 컬럼 데이터 삭제하기

In [17]:
drop_result = housing_df.drop(['Age_0', 'Age_by_10'], axis=1, inplace=True)
print('drop_result 반환값 : ', drop_result)
print(housing_df.head(3))

drop_result 반환값 :  None
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0

#### 226-03 행 데이터 삭제하기

In [18]:
housing_drop_df = housing_df.drop([0, 1, 2], axis=0)
print(housing_drop_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0
5    -114.58     33.63                29.0       1387.0           236.0

   population  households  median_income  median_house_value
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
5       671.0       239.0         3.3438             74000.0

### (7) 데이터프레임 데이터 조회

#### 227-01 컬럼명으로 데이터 조회

In [19]:
print('단일 컬럼 데이터 조회 :\n', housing_df['housing_median_age'].head(3))
print('\n복수 컬럼 데이터 조회 :\n', housing_df[['housing_median_age', 'total_rooms']].head(3))

단일 컬럼 데이터 조회 :
 0    15.0
1    19.0
2    17.0
Name: housing_median_age, dtype: float64

복수 컬럼 데이터 조회 :
    housing_median_age  total_rooms
0                15.0       5612.0
1                19.0       7650.0
2                17.0        720.0

#### 227-02 인덱스 슬라이싱으로 데이터 조회

In [20]:
print(housing_df[0:3])

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0

#### 227-03 논리형 인덱싱으로 데이터 조회

In [21]:
print(housing_df[housing_df['housing_median_age'] == 30].head(3))

     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
26     -115.37     32.82                30.0       1602.0           322.0
50     -115.52     34.22                30.0        540.0           136.0
101    -115.59     32.69                30.0        935.0           177.0

     population  households  median_income  median_house_value
26       1130.0       335.0         3.5735             71100.0
50        122.0        63.0         1.3333             42500.0
101       649.0       148.0         2.5769             94400.0

#### 227-04 복수 논리형 인덱싱으로 데이터 조회

In [22]:
print(housing_df[
           (housing_df['housing_median_age'] > 30) &
           (housing_df['total_rooms'] < 100) &
           (housing_df['median_income'] > 10)
           ].head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6030     -118.22     34.06                52.0         48.0             6.0
13055    -121.87     37.46                43.0         91.0            12.0
14501    -122.14     37.50                46.0         30.0             4.0

       population  households  median_income  median_house_value
6030         41.0        10.0        10.2264            112500.0
13055        58.0        16.0        15.0001            500001.0
14501        13.0         5.0        15.0001            500001.0

#### 227-05 변수 논리형 인덱싱으로 데이터 조회

In [23]:
con1 = housing_df['housing_median_age'] > 30
con2 = housing_df['total_rooms'] < 100
con3 = housing_df['median_income'] > 10

print(housing_df[ con1 & con2 & con3 ].head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6030     -118.22     34.06                52.0         48.0             6.0
13055    -121.87     37.46                43.0         91.0            12.0
14501    -122.14     37.50                46.0         30.0             4.0

       population  households  median_income  median_house_value
6030         41.0        10.0        10.2264            112500.0
13055        58.0        16.0        15.0001            500001.0
14501        13.0         5.0        15.0001            500001.0

#### 227-06 iloc 함수로 데이터 조회

In [24]:
print(housing_df.iloc[0, 2])

15.0

#### 227-07 loc 함수로 데이터 조회

In [25]:
print(housing_df.loc[0, 'housing_median_age'])

15.0

#### 227-08 loc 함수로 복수 데이터 조회

In [26]:
print(housing_df.loc[0:4, 'housing_median_age'])

0    15.0
1    19.0
2    17.0
3    14.0
4    20.0
Name: housing_median_age, dtype: float64

#### 227-09 loc 함수로 조건부 데이터 조회

In [27]:
print(housing_df.loc[housing_df['housing_median_age'] == 30, ['housing_median_age', 'total_bedrooms']].head(3))

     housing_median_age  total_bedrooms
26                 30.0           322.0
50                 30.0           136.0
101                30.0           177.0

### (8) 데이터프레임 데이터 정렬과 집계

#### 228-01 오름차순 정렬

In [28]:
housing_sorted = housing_df.sort_values(by=['housing_median_age'])
print(housing_sorted.head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13708    -122.00     38.23                 1.0       2062.0           343.0
10993    -120.93     37.65                 1.0       2254.0           328.0
1353     -117.17     34.12                 2.0       3867.0           573.0

       population  households  median_income  median_house_value
13708       872.0       268.0         5.2636            191300.0
10993       402.0       112.0         4.2500            189200.0
1353       1275.0       433.0         5.4138            164400.0

#### 228-02 복수 컬럼 내림차순 정렬

In [29]:
housing_sorted = housing_df.sort_values(by=['housing_median_age', 'total_rooms'], ascending=False)
print(housing_sorted.head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
15772    -122.41     37.79                52.0       6016.0          2509.0
15773    -122.41     37.79                52.0       5783.0          2747.0
11163    -121.03     40.35                52.0       5486.0          1044.0

       population  households  median_income  median_house_value
15772      3436.0      2119.0         2.5166            275000.0
15773      4518.0      2538.0         1.7240            225000.0
11163      1977.0       754.0         2.1833             49500.0

#### 228-03 집계 함수 적용

In [30]:
print(housing_df.sum() / housing_df.count())

longitude               -119.562108
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

#### 228-04 특정 컬럼 집계 함수 적용

In [31]:
print(housing_df[['housing_median_age', 'total_rooms']].mean())

housing_median_age      28.589353
total_rooms           2643.664412
dtype: float64

#### 228-05 groupby 함수 적용

In [32]:
housing_groupby = housing_df.groupby('housing_median_age').mean()
print(housing_groupby.head(3))

                     longitude   latitude  total_rooms  total_bedrooms  \
housing_median_age
1.0                -121.465000  37.940000  2158.000000      335.500000
2.0                -119.035306  35.410816  5237.102041      871.448980
3.0                -118.798478  35.164783  6920.326087     1190.826087

                     population   households  median_income  \
housing_median_age
1.0                  637.000000   190.000000       4.756800
2.0                 2005.224490   707.122449       5.074237
3.0                 2934.673913  1030.413043       5.572013

                    median_house_value
housing_median_age
1.0                      190250.000000
2.0                      229438.836735
3.0                      239450.043478

#### 228-06 특정 컬럼 groupby 함수 적용

In [33]:
housing_groupby = housing_df.groupby('housing_median_age')[['total_rooms', 'total_bedrooms']].mean()
print(housing_groupby.head(3))

                    total_rooms  total_bedrooms
housing_median_age
1.0                 2158.000000      335.500000
2.0                 5237.102041      871.448980
3.0                 6920.326087     1190.826087

#### 228-07 특정 컬럼 groupby, agg 함수 적용

In [34]:
housing_groupby = housing_df.groupby('housing_median_age')['total_rooms'].agg([min, max, sum])
print(housing_groupby.head(3))

                       min      max       sum
housing_median_age
1.0                 2062.0   2254.0    4316.0
2.0                   96.0  21897.0  256618.0
3.0                  475.0  21060.0  318335.0

### (9) 데이터프레임 결측치 처리하기

#### 229-01 결측치 여부 확인

In [35]:
import numpy as np

housing_df['Age_na'] = np.nan
print(housing_df.isna().head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      False     False               False        False           False
1      False     False               False        False           False
2      False     False               False        False           False

   population  households  median_income  median_house_value  Age_na
0       False       False          False               False    True
1       False       False          False               False    True
2       False       False          False               False    True

#### 229-02 결측치 개수 확인

In [36]:
print(housing_df.isna().sum())

longitude                 0
latitude                  0
housing_median_age        0
total_rooms               0
total_bedrooms            0
population                0
households                0
median_income             0
median_house_value        0
Age_na                17000
dtype: int64

#### 229-03 결측치 데이터 대체하기

In [37]:
housing_df['Age_na'] = housing_df['Age_na'].fillna(housing_df['housing_median_age'].mean())
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value     Age_na
0      1015.0       472.0         1.4936             66900.0  28.589353
1      1129.0       463.0         1.8200             80100.0  28.589353
2       333.0       117.0         1.6509             85700.0  28.589353