<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P2_C5_02_StellarClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/fedesoriano/stellar-classification-dataset-sdss17

# **Part 2. 과목 마무리 문제**

## 작업형2. Stellar-classification

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 425, done.
remote: Counting objects: 100% (425/425), done.
remote: Compressing objects: 100% (400/400), done.
remote: Total 425 (delta 207), reused 42 (delta 19), pack-reused 0
Receiving objects: 100% (425/425), 8.31 MiB | 4.63 MiB/s, done.
Resolving deltas: 100% (207/207), done.

#### 521-01

In [2]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'gender': pred}).to_csv('003000000.csv', index=False)

#### 521-02

In [3]:
import pandas as pd
import numpy as np

X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_y_train.csv")

In [4]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB
None

In [5]:
print(X_train.describe())

              alpha         delta             u             g             r  \
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean     177.535809     24.107885     21.938806     20.486718     19.644011
std       96.483093     19.665057     37.942814     37.925201      1.852053
min        0.005528    -18.785328  -9999.000000  -9999.000000      9.822070
25%      127.385304      5.115922     20.349987     18.957325     18.136183
50%      180.706865     23.579507     22.183860     21.095445     20.122805
75%      233.942154     39.871336     23.684145     22.121073     21.039012
max      359.999615     82.947622     32.781390     31.602240     29.571860

                  i             z      redshift        run_ID  rerun_ID  \
count  70000.000000  70000.000000  70000.000000  70000.000000   70000.0
mean      19.082969     18.624590      0.575246   4478.649443     301.0
std        1.755997     37.904705      0.729921   1965.326847       0.0
min        9.469903  -9999.000000     -0.009971    109.000000     301.0
25%       17.733732     17.463838      0.052602   3185.000000     301.0
50%       19.399590     19.001010      0.422838   4188.000000     301.0
75%       20.391340     19.917578      0.700399   5326.000000     301.0
max       32.141470     28.790550      7.011245   8162.000000     301.0

            cam_col      field_ID         plate
count  70000.000000  70000.000000  70000.000000
mean       3.510500    186.045714   5127.852900
std        1.585203    148.661268   2947.452991
min        1.000000     11.000000    266.000000
25%        2.000000     82.000000   2525.750000
50%        4.000000    146.000000   4978.000000
75%        5.000000    241.000000   7389.000000
max        6.000000    989.000000  12547.000000

In [6]:
# 이상치 제거
y_train = y_train.loc[X_train.u != -9999]
X_train = X_train.loc[X_train.u != -9999]

X_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

In [7]:
print(X_train.describe())

              alpha         delta             u             g             r  \
count  69999.000000  69999.000000  69999.000000  69999.000000  69999.000000
mean     177.535145     24.108238     22.081964     20.629856     19.644032
std       96.483622     19.664976      2.248554      2.033576      1.852057
min        0.005528    -18.785328     10.996230     10.498200      9.822070
25%      127.384192      5.117238     20.350000     18.957435     18.136075
50%      180.705886     23.580630     22.183900     21.095450     20.122810
75%      233.942330     39.872079     23.684160     22.121075     21.039035
max      359.999615     82.947622     32.781390     31.602240     29.571860

                  i             z      redshift        run_ID  rerun_ID  \
count  69999.000000  69999.000000  69999.000000  69999.000000   69999.0
mean      19.082984     18.767701      0.575254   4478.702681     301.0
std        1.756005      1.764734      0.729923   1965.290408       0.0
min        9.469903      9.612333     -0.009971    109.000000     301.0
25%       17.733685     17.463885      0.052608   3185.000000     301.0
50%       19.399590     19.001020      0.422848   4188.000000     301.0
75%       20.391350     19.917595      0.700399   5326.000000     301.0
max       32.141470     28.790550      7.011245   8162.000000     301.0

            cam_col      field_ID         plate
count  69999.000000  69999.000000  69999.000000
mean       3.510522    186.040701   5127.878813
std        1.585204    148.656411   2947.466071
min        1.000000     11.000000    266.000000
25%        2.000000     82.000000   2525.500000
50%        4.000000    146.000000   4978.000000
75%        5.000000    241.000000   7389.000000
max        6.000000    989.000000  12547.000000

In [8]:
print(X_train['redshift'].quantile([q/100 for q in range(90, 101)]))
# 약 2% 만이 3을 넘음

0.90    1.566266
0.91    1.675948
0.92    1.786824
0.93    1.910857
0.94    2.041589
0.95    2.186017
0.96    2.323494
0.97    2.485796
0.98    2.713839
0.99    3.116165
1.00    7.011245
Name: redshift, dtype: float64

In [9]:
# 파생변수 추가
X_train['redshift_upper3'] = np.where(X_train['redshift']>3, 1, 0)
X_test['redshift_upper3'] = np.where(X_test['redshift']>3, 1, 0)

In [10]:
COL_DEL = []
COL_NUM = ['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift']
COL_CAT = ['run_ID', 'rerun_ID', 'cam_col', 'field_ID', 'plate', 'redshift_upper3']
COL_Y = ['galaxy']

X_train[COL_CAT] = X_train[COL_CAT].astype(str)
X_test[COL_CAT] = X_test[COL_CAT].astype(str)

X_train = X_train.drop(COL_DEL, axis=1)
X_test = X_test.drop(COL_DEL, axis=1)

In [11]:
train_df = pd.concat([X_train, y_train], axis=1)

for _col in COL_NUM:
  print('-'*80)
  print(_col)
  print(train_df.groupby(COL_Y)[_col].describe(), end='\n\n')
# 수치형 중 의미있어 보이는 변수 : redshift

--------------------------------------------------------------------------------
alpha
          count        mean        std       min         25%         50%  \
galaxy
0       28433.0  177.234737  99.202036  0.010959  120.997187  180.253146
1       41566.0  177.740638  94.579769  0.005528  131.392267  181.032298

               75%         max
galaxy
0       239.025694  359.999615
1       231.397544  359.989386

--------------------------------------------------------------------------------
delta
          count       mean        std        min       25%        50%  \
galaxy
0       28433.0  25.067356  20.141007 -18.785328  5.060842  26.372836
1       41566.0  23.452158  19.305416 -12.364701  5.136824  22.255904

              75%        max
galaxy
0       41.762988  82.947622
1       37.855667  77.615588

--------------------------------------------------------------------------------
u
          count      mean       std       min        25%        50%  \
galaxy
0       28433.0  21.34313  2.010059  10.99623  19.987270  21.355940
1       41566.0  22.58736  2.263188  13.89799  20.786442  22.847385

              75%       max
galaxy
0       22.548860  32.78139
1       24.207522  29.32565

--------------------------------------------------------------------------------
g
          count       mean       std       min       25%        50%  \
galaxy
0       28433.0  20.231791  1.851996  10.49820  19.00707  20.579190
1       41566.0  20.902150  2.106089  12.68849  18.90630  21.581005

              75%       max
galaxy
0       21.533270  30.60700
1       22.439442  31.60224

--------------------------------------------------------------------------------
r
          count       mean       std       min        25%       50%  \
galaxy
0       28433.0  19.734722  1.818405   9.82207  18.541890  20.15357
1       41566.0  19.581995  1.872222  11.77229  17.812303  20.10107

              75%       max
galaxy
0       21.125780  29.37411
1       20.963275  29.57186

--------------------------------------------------------------------------------
i
          count       mean       std        min        25%        50%  \
galaxy
0       28433.0  19.429044  1.795189   9.469903  18.254250  19.831600
1       41566.0  18.846264  1.688337  11.319370  17.377382  19.217675

              75%       max
galaxy
0       20.825140  32.14147
1       19.934773  30.16359

--------------------------------------------------------------------------------
z
          count       mean       std        min       25%       50%  \
galaxy
0       28433.0  19.240711  1.811976   9.612333  18.03419  19.61244
1       41566.0  18.444141  1.655606  10.897380  17.09492  18.76067

              75%       max
galaxy
0       20.627150  28.79055
1       19.463442  28.23829

--------------------------------------------------------------------------------
redshift
          count      mean       std       min       25%       50%       75%  \
galaxy
0       28433.0  0.801073  1.060163 -0.004136 -0.000095  0.000388  1.540357
1       41566.0  0.420785  0.263971 -0.009971  0.164568  0.456604  0.593396

             max
galaxy
0       7.011245
1       1.995524

In [12]:
for _col in COL_CAT:
  print(train_df.groupby(_col, as_index=False)[COL_Y].mean().sort_values(by=COL_Y, ascending=False), end='\n\n')
# 범주형 중 의미있어 보이는 변수 : cam_col, redshift_upper3

    run_ID  galaxy
97    2883     1.0
325   6121     1.0
399   8054     1.0
38    1897     1.0
245   4800     1.0
..     ...     ...
292   5378     0.0
279   5237     0.0
268   5115     0.0
261   5060     0.0
424    994     0.0

[425 rows x 2 columns]

  rerun_ID    galaxy
0      301  0.593808

  cam_col    galaxy
0       1  0.619151
3       4  0.612120
4       5  0.610490
2       3  0.593031
1       2  0.583152
5       6  0.530405

    field_ID  galaxy
676      717     1.0
750      788     1.0
667      708     1.0
704      746     1.0
706      748     1.0
..       ...     ...
830      934     0.0
829      933     0.0
828      932     0.0
827      931     0.0
835      940     0.0

[847 rows x 2 columns]

     plate  galaxy
6186   999     1.0
4292  6417     1.0
4263  6388     1.0
4264  6389     1.0
1082  1900     1.0
...    ...     ...
1653  2560     0.0
1655  2563     0.0
1656  2564     0.0
3569  5343     0.0
1073  1891     0.0

[6187 rows x 2 columns]

  redshift_upper3    galaxy
0               0  0.601125
1               1  0.000000

In [13]:
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train, X_test])

for _col in COL_CAT:
  le = LabelEncoder()
  le.fit(X[_col])
  X_train[_col] = le.transform(X_train[_col])
  X_test[_col] = le.transform(X_test[_col])

In [14]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train)

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_tr[COL_NUM] = scaler.fit_transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [16]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [17]:
from xgboost import XGBClassifier

model_xgb1 = XGBClassifier()
model_xgb1.fit(X_tr, y_tr.values.ravel())

XGBClassifier()

In [18]:
from sklearn.metrics import roc_auc_score

y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb1 = model_xgb1.predict_proba(X_val)

score_rf = roc_auc_score(y_val, y_pred_rf[:, 1])
score_xgb1 = roc_auc_score(y_val, y_pred_xgb1[:, 1]) 

print(score_rf)
print(score_xgb1)

0.9934617478196204
0.9936481224340529

In [19]:
print(pd.DataFrame({'feature': X_tr.columns, 'fi_rf': model_rf.feature_importances_, 'fi_xgb': model_xgb1.feature_importances_}))

            feature     fi_rf    fi_xgb
0             alpha  0.014498  0.003738
1             delta  0.015044  0.009794
2                 u  0.067689  0.118841
3                 g  0.087992  0.165370
4                 r  0.051043  0.006465
5                 i  0.066835  0.015158
6                 z  0.118309  0.080909
7          redshift  0.503258  0.562278
8            run_ID  0.010998  0.005344
9          rerun_ID  0.000000  0.000000
10          cam_col  0.003926  0.000000
11         field_ID  0.008513  0.002462
12            plate  0.043021  0.029641
13  redshift_upper3  0.008875  0.000000

In [20]:
pred = model_xgb1.predict_proba(X_test)[:,1]
pd.DataFrame({'index': X_test.index, 'target': pred}).to_csv('./yemoonsaBigdata/res/003000000.csv', index=False)