<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P2_C5_01_iris_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 5. 과목 마무리 문제**

## 1. 작업형 제 1유형

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 421, done.
remote: Counting objects: 100% (421/421), done.
remote: Compressing objects: 100% (396/396), done.
remote: Total 421 (delta 204), reused 42 (delta 19), pack-reused 0
Receiving objects: 100% (421/421), 8.30 MiB | 4.59 MiB/s, done.
Resolving deltas: 100% (204/204), done.

### (1) Iris 데이터 세트

In [2]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

#### 코드 511-01

In [3]:
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

#### 코드 511-02

In [4]:
lst = data['sepal_length'].unique().tolist()
lst.sort()
print(lst[9])

5.2

#### 코드 511-03

In [5]:
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
sorted_data_split = sorted_data.loc[0:99] # 또는 sorted_data.head(100)
print(int(sorted_data_split['sepal_width'].std()*50))

16

#### 코드 511-04

In [6]:
data = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

#### 코드 511-05

In [7]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crit1 = mean+2*std
crit2 = mean-2*std
print(data[(data['sepal_length']>=crit1)|(data['sepal_length']<=crit2)])

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

### (2) Wine 데이터 세트

In [8]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/wine.csv")

#### 코드 512-01

In [9]:
data_drop = data[data['total_phenols'].notnull()]
med = data_drop['alcalinity_of_ash'].median()
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med
print(data_drop['alcalinity_of_ash'].mean())

19.397546012269935

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

#### 코드 512-02

In [10]:
mean_val1 = data['alcohol'].mean()
mean_val2 = data['color_intensity'].mean()
data_filtered = data[(data['alcohol']>=mean_val1)&(data['color_intensity']>=mean_val2)]
print(data_filtered['class'].value_counts())

0    37
2    23
1     1
Name: class, dtype: int64

#### 코드 512-03

In [11]:
print(data.head(1).T)

                                    0
alcohol                         14.23
malic_acid                       1.71
ash                              2.43
alcalinity_of_ash               15.60
magnesium                      127.00
total_phenols                    2.80
flavanoids                       3.06
nonflavanoid_phenols             0.28
proanthocyanins                  2.29
color_intensity                  5.64
hue                              1.04
od280/od315_of_diluted_wines     3.92
proline                       1065.00
class                            0.00

In [12]:
val1 = data[data['class']==1]['ash'].mean()
val2 = data.dropna()['ash'].mean()
print(round(abs(val1-val2), 3))

0.12

#### 코드 512-04

In [13]:
data_sorted = data.sort_values(by='alcohol')
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']
print(round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(), 2))

12.94

#### 코드 512-05

In [14]:
class1_q1, class1_q3 = data[data['class']==1]['proline'].quantile([0.25, 0.75])
class2_q1, class2_q3 = data[data['class']==2]['proline'].quantile([0.25, 0.75])
print(abs((class1_q3-class1_q1) - (class2_q3-class2_q1)))

68.5