<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P2_C4_02_Penguin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4. A to Z 빅데이터 분석 실습

## 2.실습 A to Z – Penguin

### Penguin Dataset
- https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 277, done.
remote: Counting objects: 100% (277/277), done.
remote: Compressing objects: 100% (262/262), done.
remote: Total 277 (delta 135), reused 24 (delta 9), pack-reused 0
Receiving objects: 100% (277/277), 3.48 MiB | 5.21 MiB/s, done.
Resolving deltas: 100% (135/135), done.

### (2) 사전준비

#### 422-01

In [2]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

#### 422-02

In [3]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

#### 422-03

In [4]:
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")

### (3) 데이터 전처리

#### 423-01

In [5]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None

#### 423-02

In [6]:
train =  pd.concat([X_train, y_train], axis=1)
print(train.loc[(train.sex.isna()) | (train.bill_length_mm.isna()) | (train.bill_depth_mm.isna()) | (train.flipper_length_mm.isna()) | (train.body_mass_g.isna())])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen  NaN            42.0           20.2              190.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN

     body_mass_g
0         4250.0
6         4100.0
43           NaN
66        3700.0
88        4725.0
89        3300.0
110       4875.0
229          NaN

#### 423-03

In [7]:
train = train.dropna()
train.reset_index(drop=True, inplace=True)

#### 423-04

In [8]:
X_train = train[['species','island', 'sex','bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']]
y_train = train[['body_mass_g']]

#### 423-05

In [9]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

#### 423-06

In [10]:
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
COL_CAT = ['species','island', 'sex']
COL_Y = ['body_mass_g']

#### 423-07

In [11]:
X = pd.concat([X_train, X_test])

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

#### 423-08

In [12]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

#### 423-09

In [13]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names_out())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names_out())
print(X_train_ohe)

X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis=1)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]

### (4) 데이터 모형 구축

#### 424-01

In [14]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3)

#### 424-02

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM]=scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]=scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM]=scaler.transform(X_test_fin[COL_NUM])

#### 424-03

In [16]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[[4006.97235585]
 [4675.45764127]
 [4011.39293723]
 [4778.56760262]
 [3951.26931058]
 [3923.75831329]
 [4312.16740799]
 [5418.73771001]
 [5494.57800681]
 [3456.91948485]
 [3353.71066595]
 [5292.98597359]
 [4745.35161677]
 [4176.02785456]
 [3993.74180882]
 [3283.99986207]
 [3490.23336638]
 [4756.27198988]
 [3395.74766003]
 [3516.59475917]
 [3459.3884403 ]
 [4280.22624606]
 [3329.73388938]
 [3201.31395557]
 [5579.9180549 ]
 [3981.21193695]
 [3422.35564933]
 [4285.47199276]
 [4796.05647374]
 [5522.81742696]
 [4191.41275282]
 [4277.6135177 ]
 [5351.15100549]
 [4672.97403204]
 [4362.00317253]
 [3411.96492938]
 [3316.26189932]
 [4743.75104548]
 [4143.16667003]
 [4111.90747333]
 [4054.83599991]
 [4688.69321606]
 [3405.48244076]
 [4228.53296971]
 [3625.22070086]
 [3868.16502482]
 [5669.70140431]
 [4093.64740545]
 [4191.5631587 ]
 [3542.77994916]
 [5676.27744396]
 [4696.59490996]
 [4183.5970683 ]
 [3265.82512601]
 [3110.76273212]
 [3484.16475931]
 [4088.76258516]
 [4907.06561511]
 [4154.72026243]
 [3472.82228544]
 [4096.47173503]
 [3440.66664738]
 [3521.5462265 ]
 [4040.62344708]
 [3244.20996139]
 [5412.42936497]
 [5645.6335906 ]
 [4949.33873595]
 [4784.5999333 ]
 [5575.65360572]]

#### 424-04

In [17]:
print(modelLR.intercept_)

coef = pd.Series(data=modelLR.coef_[0], index= X_train_fin.columns)
print(coef.sort_values())

[3407.20314762]
x0_Chinstrap        -467.977365
x0_Adelie           -273.810227
x2_FEMALE           -221.289734
x1_Dream             -47.685996
x1_Torgersen           4.429691
x1_Biscoe             43.256305
x2_MALE              221.289734
bill_depth_mm        458.144803
bill_length_mm       483.046326
flipper_length_mm    705.636299
x0_Gentoo            741.787592
dtype: float64

### (5) 데이터 모형 평가

#### 425-01

In [18]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse = mean_squared_error(y_val, y_val_pred, squared=False)

print('MSE : {0:.3f} , RMSE : {1:.3F} '.format(mse , rmse))

MSE : 82895.238 , RMSE : 287.915

#### 425-02

In [19]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

[[4158.63422978]
 [5336.6764941 ]
 [4127.30310466]
 [3452.93581447]
 [4698.72732909]
 [4033.69150879]
 [3390.84302275]
 [3754.78963146]
 [3530.60877832]
 [3485.17230841]
 [3404.97652529]
 [5494.04545069]
 [3602.48898598]
 [4088.64139673]
 [3908.55718464]
 [4105.2454243 ]
 [4355.50564106]
 [3469.69095619]
 [3564.29002084]
 [3395.63931977]
 [5365.54060484]
 [4207.38732537]
 [5840.30774131]
 [4677.49863419]
 [5408.3480874 ]
 [5507.81035945]
 [5515.09529346]
 [4240.07326899]
 [3423.95512328]
 [4049.41430402]
 [4191.68515597]
 [3417.94150254]
 [3540.73212287]
 [4636.82859851]
 [3385.884569  ]
 [3490.57518407]
 [3331.36461195]
 [3449.99547725]
 [3966.53664133]
 [4920.74019499]
 [3498.75694849]
 [5591.19864616]
 [4950.58450591]
 [4671.72645647]
 [5746.96883708]
 [3903.24102664]
 [4759.38099797]
 [3342.37782782]
 [5401.32762584]
 [4247.45790428]
 [4657.95903384]
 [4749.97086727]
 [4173.2177897 ]
 [3909.10704387]
 [3272.2104524 ]
 [4312.977993  ]
 [4809.19669191]
 [4624.03957045]
 [3887.85071156]
 [4134.83127758]
 [3748.80764282]
 [4862.2178479 ]
 [3332.39886461]
 [4886.46341641]
 [4095.65573319]
 [4099.84450729]
 [5493.95441355]
 [3237.10458778]
 [4767.01821942]
 [3645.61679908]
 [4101.36773334]
 [3456.3095835 ]
 [4754.23099697]
 [3324.5136301 ]
 [4839.92655465]
 [4647.57302244]
 [5372.91728426]
 [3421.58596969]
 [3516.68328243]
 [4808.40398283]
 [3525.57716337]
 [5700.42946145]
 [3374.04729487]
 [4815.86235215]
 [4691.35638569]
 [3402.75919412]
 [5619.6140155 ]
 [4195.04233016]
 [3894.62863277]
 [4781.14224898]
 [4186.53264108]
 [4107.20331078]
 [4150.03021156]
 [4205.77390591]
 [5438.45325955]
 [4201.07575818]
 [5317.8501076 ]
 [3617.03471752]
 [4797.83479982]
 [5364.47871476]
 [3568.54609438]]

#### 425-03

In [20]:
pd.DataFrame({'body_mass_g': y_pred[:,0]}).to_csv('./yemoonsaBigdata/res/004000000.csv', index=False)