<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P2_C1_PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 1. 파이썬 기본 문법**

## 1. 파이썬이란?

### (1) 파이썬 개요

### (2) 파이썬 특징

## 2. 파이썬 실습 준비하기

### (1) 실습 환경 구성

### (2) Google Colab 둘러보기

### (3) Github & Colab 환경 구성

#### 123-01 소스 및 데이터 동기화

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 457, done.
remote: Counting objects: 100% (457/457), done.
remote: Compressing objects: 100% (426/426), done.
remote: Total 457 (delta 231), reused 49 (delta 25), pack-reused 0
Receiving objects: 100% (457/457), 8.33 MiB | 4.55 MiB/s, done.
Resolving deltas: 100% (231/231), done.

## 3. 파이썬 자료형

### (1) 숫자형

#### 131-01 정수형 + 실수형

In [2]:
a = 1234
b = -12.34
c = a + b

print(a, b)
print(type(a), type(b))
print(c)
print(type(c))

1234 -12.34
<class 'int'> <class 'float'>
1221.66
<class 'float'>

#### 131-02 사칙연산 기능

In [3]:
a = 3
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a % b)
print(a // b)

10
-4
21
0.42857142857142855
2187
3
0

### (2) 문자열 자료형

#### 132-01 문자열 자료형

In [4]:
a = "Hello World"
b = "Hello Python's World"
c = '"Hello World." he says.'
d = "Hello World\nLife is good"

print(a)
print(b)
print(c)
print(d)

Hello World
Hello Python's World
"Hello World." he says.
Hello World
Life is good

####132-02 문자열 더하기

In [5]:
a = "Python"
b = " "
c = "is good."

print(a + b + c)

Python is good.

####132-03 문자열 곱하기

In [6]:
a = "Python"

print(a*3)

PythonPythonPython

####132-04 문자열 길이 구하기

In [7]:
a = "Life is short, Python is valuable"
b = len(a)

print(b)

33

####132-05 문자열 인덱싱

In [8]:
a = "Life is short, Python is valuable"
b = a[0]
c = a[10]
d = a[-8]
e = a[-1]

print(b + c + d + e)

Love

####132-06 문자열 슬라이싱

In [9]:
a = "Life is short, Python is valuable"
b = a[:4]
c = a[4:8]
d = a[25:]

print(b + c + d)

Life is valuable

####132-07 문자 개수 세기

In [10]:
a = "apple"
b = a.count('p')

print(b)

2

####132-08 문자 위치 찾기

In [11]:
a = "apple"
b = a.find('p')

print(b)

1

####132-09 문자열 삽입

In [12]:
a = "apple"
b = ','.join(a)

print(b)

a,p,p,l,e

####132-10 소문자와 대문자 바꾸기

In [13]:
a = "apple"
b = a.upper()
c = b.lower()

print(b)
print(c)

APPLE
apple

####132-11 공백 지우기

In [14]:
a = " apple "
b = a.lstrip()
c = a.rstrip()
d = a.strip()

print(b)
print(c)
print(d)

apple
 apple
apple

####132-12 문자열 바꾸기

In [15]:
a = "Life is good"
b = a.replace("Life", "Python")

print(b)

Python is good

####132-13 문자열 나누기

In [16]:
a = "Life is short, Python is valuable"
b = a.split()
c = a.split(',')

print(b)
print(c)

['Life', 'is', 'short,', 'Python', 'is', 'valuable']
['Life is short', ' Python is valuable']

###(3) 리스트 자료형

####133-01 리스트 기본 연산

In [17]:
a = [1, 2, 3, 4, 5]
b = ['a', 'b', 'c']
c = a * 2 + b
d = len(c)

print(c)
print(d)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c']
13

####133-02 리스트 인덱싱과 슬라이싱

In [18]:
a = [1, 2, 3, 4, 5]

print(a)
print(a[0])
print(a[1:4])
print(a[-1])
print(a[4])
print(a[2:])
print(a[2:5])
print(a[:3])
print(a[0:3])

[1, 2, 3, 4, 5]
1
[2, 3, 4]
5
5
[3, 4, 5]
[3, 4, 5]
[1, 2, 3]
[1, 2, 3]

####133-03 중첩된 리스트 인덱싱과 슬라이싱

In [19]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a)
print(a[3])
print(a[3][0])
print(a[3][1:])
print(a[3][:1])

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a
['b', 'c']
['a']

####133-04 리스트 요소의 수정과 삭제

In [20]:
a = [1, 2, 3, 4, 5]
a[2] = 10
del a[4]

print(a)

[1, 2, 10, 4]

####133-05 리스트 요소 추가

In [21]:
a = [1, 2, 3]
a.append(10)

print(a)

[1, 2, 3, 10]

####133-06 리스트 정렬

In [22]:
a = [1, 5, 2, 4, 3]
a.sort()

print(a)

[1, 2, 3, 4, 5]

####133-07 리스트 요소의 위치 반환

In [23]:
a = [5, 4, 3, 2, 1]
b = a.index(3)
c = a.index(5)

print(b)
print(c)

2
0

####133-08 리스트 요소 삽입

In [24]:
a = [1, 2, 3]
a.insert(0, 10)

print(a)

[10, 1, 2, 3]

####133-09 리스트 요소 제거

In [25]:
a = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
a.remove(4)

print(a)

[5, 3, 2, 1, 5, 4, 3, 2, 1]

####133-10 리스트 요소 뽑기

In [26]:
a = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
b = a.pop(1)

print(a)
print(b)

[5, 3, 2, 1, 5, 4, 3, 2, 1]
4

####133-11 리스트 요소 개수 세기

In [27]:
a = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
b = a.count(1)

print(b)

2

###(4) 튜플 자료형

####134-01 튜플 기본 연산

In [28]:
a = (1, 2, 3, 4, 5)
b = ('a', 'b', 'c')
c = a * 2 + b
d = len(c)

print(c)
print(d)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c')
13

####134-02 튜플 인덱싱과 슬라이싱

In [29]:
a = (1, 2, 3, 'a', 'b', 'c')

print(a[0])
print(a[3:])

1
('a', 'b', 'c')

###(5) 딕셔너리 자료형

#### 135-01 딕셔너리 자료 구조

In [30]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}

print(a)
print(a['name'])
print(a['birth'])

{'name': 'John', 'age': 30, 'birth': [11, 8]}
John
[11, 8]

####135-02 딕셔너리 키-값 추가와 삭제

In [31]:
a = {'name':'John'}
a['age'] = 30
a['house'] = 'apartment'
a['birth'] = [11, 8]
del a['house']

print(a)

{'name': 'John', 'age': 30, 'birth': [11, 8]}

####135-03 딕셔너리 키 중복

In [32]:
a = {'name':'John', 'name':'Park'}

print(a)

{'name': 'Park'}

####135-04 딕셔너리 키 리스트 만들기

In [33]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.keys()
c = list(a.keys())

print(b)
print(c)

dict_keys(['name', 'age', 'birth'])
['name', 'age', 'birth']

####135-05 딕셔너리 값 리스트 만들기

In [34]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.values()
c = list(a.values())

print(b)
print(c)

dict_values(['John', 30, [11, 8]])
['John', 30, [11, 8]]

####135-06 딕셔너리 키-값 리스트 만들기

In [35]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.items()
c = list(a.items())

print(b)
print(c)

dict_items([('name', 'John'), ('age', 30), ('birth', [11, 8])])
[('name', 'John'), ('age', 30), ('birth', [11, 8])]

####135-07 딕셔너리 키로 값 호출하기

In [36]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.get('name')
c = a['name']
d = a.get('house')
e = a.get('house', 'No data')

print(b)
print(c)
print(d)
print(e)

John
John
None
No data

###(6) 집합 자료형

####136-01 집합 자료형

In [37]:
a = {1, 2, 3, 2, 1}
b = set([1, 2, 3, 2, 1])
c = set("Python")

print(a)
print(b)
print(c)

{1, 2, 3}
{1, 2, 3}
{'h', 'y', 'o', 'P', 'n', 't'}

####136-02 집합 자료형 변환

In [38]:
a = set([1, 2, 3])
b = list(a)
c = tuple(a)

print(a)
print(b)
print(b[0])
print(c)
print(c[2])

{1, 2, 3}
[1, 2, 3]
1
(1, 2, 3)
3

####136-03 집합 자료형 교집합

In [39]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a & b
d = a.intersection(b)

print(c)
print(d)

{3, 4, 5}
{3, 4, 5}

####136-04 집합 자료형 합집합

In [40]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a | b
d = a.union(b)

print(c)
print(d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

####136-05 집합 자료형 차집합

In [41]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a - b
d = a.difference(b)

print(c)
print(d)

{1, 2}
{1, 2}

###(7) 논리 자료형

####137-01 논리 자료형 특징

In [42]:
a = True
b = False

print(a)
print(type(a))
print(b)
print(type(b))
print(a + b)
print(type(a + b))
print(a * b)
print(type(a * b))

True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>

##4. 파이썬 제어문

###(1) if문

####141-01 조건문 기본 구조

In [43]:
a = True

if a:
    print("가설은")
    print("사실이다")
else:
    print("가설은")
    print("거짓이다")

가설은
사실이다

####141-02 조건문 비교 연산자

In [44]:
x = 3
y = 7

if x <= y:
    print("x가 y보다 작거나 같다")
else:
    print("x가 y보다 크다")

x가 y보다 작거나 같다

####141-03 조건문 and, or, not 연산자

In [45]:
x = 3
y = 7

if x == y or x < y:
    print("x가 y보다 작거나 같다")
else:
    print("x가 y보다 크다")

x가 y보다 작거나 같다

####141-04 조건문 in, not in 연산자

In [46]:
x = 3
y = [1, 2, 3, 4, 5]

if x in y:
    print("데이터가 존재한다")
else:
    print("데이터가 존재하지 않는다")

데이터가 존재한다

####141-05 elif 활용한 조건문 기본 구조

In [47]:
x = 3
y = 7

if x == y:
    print("x와 y는 같다")
elif x < y:
    print("x가 y보다 작다")
else:
    print("x가 y보다 크다")

x가 y보다 작다

###(2) while문

####142-01 while문 기본 구조

In [48]:
a = 0

while a < 5:
    print("a값은 %s 입니다" % a)
    a = a + 1

print("while문이 종료되었습니다")

a값은 0 입니다
a값은 1 입니다
a값은 2 입니다
a값은 3 입니다
a값은 4 입니다
while문이 종료되었습니다

####142-02 while문 조건 변경

In [49]:
a = 0
b = ["사과", "바나나", "토마토"]

while a < len(b):
    print("바구니에서 %s를 꺼냈습니다" % b[a])
    a = a + 1

print("바구니에 아무것도 남아있지 않습니다")

바구니에서 사과를 꺼냈습니다
바구니에서 바나나를 꺼냈습니다
바구니에서 토마토를 꺼냈습니다
바구니에 아무것도 남아있지 않습니다

####142-03 while문 break 활용

In [50]:
a = 5

while a > 0:
    print("a값은 %s 입니다" % a)
    a = a - 1

    if a == 2:
        break

print("while문이 종료되었습니다")

a값은 5 입니다
a값은 4 입니다
a값은 3 입니다
while문이 종료되었습니다

####142-04 while문 continue 활용

In [51]:
a = 0

while a < 10:
    a = a + 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

###(3) for문

####143-01 for문 기본 구조

In [52]:
a = ["사과", "바나나", "토마토"]

for i in a:
    print(i)

사과
바나나
토마토

####143-02 for문과 if문 활용

In [53]:
a = [90, 25, 67, 45, 80]
b = sum(a) / len(a)

for i in a:
    if i > b:
        print("%d 는(은) 평균보다 크다" % i)
    else:
        print("%d 는(은) 평균보다 작거나 같다" % i)

90 는(은) 평균보다 크다
25 는(은) 평균보다 작거나 같다
67 는(은) 평균보다 크다
45 는(은) 평균보다 작거나 같다
80 는(은) 평균보다 크다

####143-03 for문과 range문 활용

In [54]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end = ' ')
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

#### 143-04 for문과 리스트 요소 삽입

In [55]:
a = [1, 2, 3, 4]
result = []

for i in a:
    result.insert(0, i * 10)

print(result)

[40, 30, 20, 10]

##5. 파이썬 함수

###(1) def문

####151-01 def문 기본 구조

In [56]:
def add(a, b):
  return a + b

a = 3
b = 7
c = add(a, b)

print(c)

10