# **Chapter 1. 빅데이터분석기사 2회**

## 1. 필답형

## 2. 작업형 제1유형

#### 000 소스 및 데이터 동기화

In [2]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 390, done.
remote: Counting objects: 100% (390/390), done.
remote: Compressing objects: 100% (367/367), done.
remote: Total 390 (delta 182), reused 39 (delta 17), pack-reused 0
Receiving objects: 100% (390/390), 8.27 MiB | 4.39 MiB/s, done.
Resolving deltas: 100% (182/182), done.

### (1) 첫번째 문제

#### 121-01 데이터 불러오기 & 탐색하기

In [38]:
import pandas as pd

boston = pd.read_csv("./yemoonsaBigdata/datasets/Part3/201_boston.csv")
boston.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

#### 121-02 내림차순 정렬하기

In [39]:
boston_sort = boston.sort_values('CRIM', ascending=False)
boston_sort.head(12)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,73.5341,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,67.9208,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,51.1358,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,45.7461,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,41.5292,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,38.3518,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,37.6619,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,28.6558,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77
403,24.8017,0.0,18.1,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77

#### 121-03 특정 위치 데이터 찾기

In [40]:
crim10_value = boston_sort.iloc[9, 0]
crim10_value

25.9406

#### 121-04 특정 위치 데이터 변경하기

In [41]:
boston_sort.iloc[:9, 0] = crim10_value
boston_sort.head(12)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77
403,24.8017,0.0,18.1,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77

#### 121-05 조건부 평균 계산하기

In [42]:
boston_sort_80 = boston_sort[boston_sort['AGE'] >= 80]
result = boston_sort_80['CRIM'].mean()
result

5.759386624999999

### (2) 두번째 문제

#### 122-01 데이터 불러오기 & 탐색하기

In [43]:
import pandas as pd

housing = pd.read_csv("./yemoonsaBigdata/datasets/Part3/202_housing.csv")
housing.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

#### 122-02 데이터 추출하기

In [44]:
value = int(len(housing) * 0.8)
bedrooms = housing['total_bedrooms'][:value]

bedrooms

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
16507     599.0
16508     331.0
16509     411.0
16510     941.0
16511     417.0
Name: total_bedrooms, Length: 16512, dtype: float64

#### 122-03 표준편차 계산하기

In [45]:
std1 = bedrooms.std()
std1

435.900577052527

#### 122-04 중앙값 계산하기

In [46]:
med = bedrooms.median()
med

436.0

#### 122-05 결측값 채우기 & 표준편차 계산하기

In [47]:
bedrooms_fill = bedrooms.fillna(med)
std2 = bedrooms_fill.std()
std2

433.9254297608813

#### 122-06 표준편차 차이 절대값 구하기

In [48]:
result = abs(std1 - std2)
result

1.975147291645726

### (3) 세번째 문제

#### 123-01 데이터 불러오기 & 탐색하기

In [49]:
import pandas as pd

housing = pd.read_csv("./yemoonsaBigdata/datasets/Part3/203_housing.csv")
housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### 123-02 평균과 표준편차 계산하기

In [50]:
population = housing['population']
mean = population.mean()
std = population.std()

print("평균 : ", mean)
print("표준편차 : ", std)

평균 :  1425.4767441860465
표준편차 :  1132.4621217653375

#### 123-03 이상값 임계치 계산하기

In [51]:
lower = mean - (std * 1.5)
upper = mean + (std * 1.5)

print("정상범위 최소값 : ", lower)
print("정상범위 최대값 : ", upper)

정상범위 최소값 :  -273.2164384619598
정상범위 최대값 :  3124.1699268340526

#### 123-04 이상값 데이터 추출하기

In [52]:
population_outlier = population[(population < lower) | (population > upper)]
population_outlier

95       3469.0
185      4367.0
283      4985.0
460      3337.0
485      3276.0
          ...
20543    3717.0
20544    6330.0
20563    6837.0
20604    3265.0
20629    6912.0
Name: population, Length: 1207, dtype: float64

#### 123-05 이상값 데이터 합계 구하기

In [53]:
result = population_outlier.sum()
result

5607295.0

## 3. 작업형 제2유형

### (1) 첫번째 문제

#### 131-01 데이터 불러오기 & 탐색하기

In [6]:
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/204_ecommerce.csv")
df.head(10)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
5,6,F,Flight,3,1,162,3,medium,F,12,1417,1
6,7,D,Flight,3,4,250,3,low,F,3,2371,1
7,8,F,Flight,4,1,233,2,low,F,48,2804,1
8,9,A,Flight,3,4,150,3,low,F,11,1861,1
9,10,B,Flight,3,2,164,3,medium,F,29,1187,1

#### 131-02 훈련 데이터 추출하기

In [7]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(df, test_size=0.3, stratify=df['Reached.on.Time_Y.N'], random_state=0)

y_train = x_train[['ID', 'Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')

y_test = x_test[['ID', 'Reached.on.Time_Y.N']]
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('./yemoonsaBigdata/datasets/Part3/204_x_train.csv', index=False)
y_train.to_csv('./yemoonsaBigdata/datasets/Part3/204_y_train.csv', index=False)
x_test.to_csv('./yemoonsaBigdata/datasets/Part3/204_x_test.csv', index=False)
y_test.to_csv('./yemoonsaBigdata/datasets/Part3/204_y_test.csv', index=False)

x_train = pd.read_csv("./yemoonsaBigdata/datasets/Part3/204_x_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part3/204_y_train.csv")
x_test = pd.read_csv("./yemoonsaBigdata/datasets/Part3/204_x_test.csv")
y_test = pd.read_csv("./yemoonsaBigdata/datasets/Part3/204_y_test.csv")

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((7699, 11), (7699, 2), (3300, 11), (3300, 2))

#### 131-03 전처리 준비하기

In [8]:
df_x = pd.concat([x_train, x_test])
df_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(7), object(4)
memory usage: 1.0+ MB

#### 000 독립변수 탐색하기

In [9]:
df_x.groupby(['Warehouse_block'])['Warehouse_block'].count()

Warehouse_block
A    1833
B    1833
C    1833
D    1834
F    3666
Name: Warehouse_block, dtype: int64

In [10]:
df_x.groupby(['Mode_of_Shipment'])['Mode_of_Shipment'].count()

Mode_of_Shipment
Flight    1777
Road      1760
Ship      7462
Name: Mode_of_Shipment, dtype: int64

In [11]:
df_x.groupby(['Product_importance'])['Product_importance'].count()

Product_importance
high       948
low       5297
medium    4754
Name: Product_importance, dtype: int64

In [12]:
df_x.groupby(['Gender'])['Gender'].count()

Gender
F    5545
M    5454
Name: Gender, dtype: int64

#### 000 종속변수 탐색하기

In [13]:
y_train['Reached.on.Time_Y.N'].value_counts()

1    4594
0    3105
Name: Reached.on.Time_Y.N, dtype: int64

#### 131-04 라벨링 인코딩

In [14]:
df_le = df_x.copy()

df_le['Gender'] = df_x['Gender'].replace(['F', 'M'], [0, 1])
df_le['Product_importance'] = df_x['Product_importance'].replace(['low', 'medium', 'high'], [0, 1, 2])
df_le['Mode_of_Shipment'] = df_x['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'], [0, 1, 2])
df_le['Warehouse_block'] = df_x['Warehouse_block'].replace(['A', 'B', 'C', 'D', 'F'], [0, 1, 2, 3, 4])

df_le.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  int64
 2   Mode_of_Shipment     10999 non-null  int64
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  int64
 8   Gender               10999 non-null  int64
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(11)
memory usage: 1.0 MB

#### 000 상관계수 탐색하기

In [15]:
print(df_le.corr())

                           ID  Warehouse_block  Mode_of_Shipment  \
ID                   1.000000         0.000070          0.002459
Warehouse_block      0.000070         1.000000         -0.000617
Mode_of_Shipment     0.002459        -0.000617          1.000000
Customer_care_calls  0.188998         0.014496          0.020164
Customer_rating     -0.005722         0.010169         -0.001679
Cost_of_the_Product  0.196791        -0.006679         -0.006681
Prior_purchases      0.145369        -0.005262          0.001640
Product_importance  -0.056137        -0.001528          0.009767
Gender              -0.001695        -0.003700          0.011288
Discount_offered    -0.598278         0.009569         -0.009364
Weight_in_gms        0.278312         0.004086          0.000797

                     Customer_care_calls  Customer_rating  \
ID                              0.188998        -0.005722
Warehouse_block                 0.014496         0.010169
Mode_of_Shipment                0.020164        -0.001679
Customer_care_calls             1.000000         0.012209
Customer_rating                 0.012209         1.000000
Cost_of_the_Product             0.323182         0.009270
Prior_purchases                 0.180771         0.013179
Product_importance             -0.058134         0.003999
Gender                          0.002545         0.002775
Discount_offered               -0.130750        -0.003124
Weight_in_gms                  -0.276615        -0.001897

                     Cost_of_the_Product  Prior_purchases  Product_importance  \
ID                              0.196791         0.145369           -0.056137
Warehouse_block                -0.006679        -0.005262           -0.001528
Mode_of_Shipment               -0.006681         0.001640            0.009767
Customer_care_calls             0.323182         0.180771           -0.058134
Customer_rating                 0.009270         0.013179            0.003999
Cost_of_the_Product             1.000000         0.123676           -0.046789
Prior_purchases                 0.123676         1.000000            0.027317
Product_importance             -0.046789         0.027317            1.000000
Gender                          0.019759        -0.009395           -0.002974
Discount_offered               -0.138312        -0.082769            0.026023
Weight_in_gms                  -0.132604        -0.168213            0.093211

                       Gender  Discount_offered  Weight_in_gms
ID                  -0.001695         -0.598278       0.278312
Warehouse_block     -0.003700          0.009569       0.004086
Mode_of_Shipment     0.011288         -0.009364       0.000797
Customer_care_calls  0.002545         -0.130750      -0.276615
Customer_rating      0.002775         -0.003124      -0.001897
Cost_of_the_Product  0.019759         -0.138312      -0.132604
Prior_purchases     -0.009395         -0.082769      -0.168213
Product_importance  -0.002974          0.026023       0.093211
Gender               1.000000         -0.011777       0.003573
Discount_offered    -0.011777          1.000000      -0.376067
Weight_in_gms        0.003573         -0.376067       1.000000

#### 000 머신러닝 패키지 불러오기

In [16]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

#### 131-05 모델 점수 계산 함수

In [17]:
from sklearn.metrics import roc_auc_score

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    ypred = model.predict_proba(xtest)[:, 1]    
    B = roc_auc_score(ytest, ypred) 
    return '{:.4f} {:.4f}'.format(A, B)

#### 131-06 머신러닝 모델 생성 함수

In [18]:
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))

    model2 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model2', get_scores(model2, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model2 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model2', d, get_scores(model2, xtrain, xtest, ytrain, ytest))

    model3 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model3 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    model4 = XGBClassifier().fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

#### 131-07 스케일링 & 머신러닝 전처리

In [20]:
x_le = df_le.drop(columns=['ID'])

scaler = MinMaxScaler()
x_le_scaler = scaler.fit_transform(x_le)

x_fin_train = x_le_scaler[:7699, :]
x_fin_test = x_le_scaler[7699:, :]

y_fin_train = y_train['Reached.on.Time_Y.N']
y_fin_test = y_test['Reached.on.Time_Y.N']

print(type(x_fin_train), type(x_fin_test), type(y_fin_train), type(y_fin_test))
print(x_fin_train.shape, x_fin_test.shape, y_fin_train.shape, y_fin_test.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>
(7699, 10) (3300, 10) (7699,) (3300,)

#### 131-08 훈련/테스트 데이터 추출하기

In [22]:
xtrain, xtest, ytrain, ytest = train_test_split(x_fin_train, y_fin_train, test_size = 0.3, stratify=y_fin_train, random_state=1234)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(5389, 10) (2310, 10) (5389,) (2310,)

#### 131-09 머신러닝 실행

In [23]:
make_models(xtrain, xtest, ytrain, ytest)

model1 0.6369 0.7306
model2 1.0000 0.6325
model2 3 0.6719 0.7453
model2 4 0.6801 0.7357
model2 5 0.6894 0.7414
model2 6 0.6931 0.7396
model2 7 0.7048 0.7353
model3 1.0000 0.7418
model3 3 0.6714 0.7410
model3 4 0.6883 0.7421
model3 5 0.6983 0.7420
model3 6 0.7157 0.7377
model3 7 0.7395 0.7387
model4 0.7085 0.7347

#### 131-10 최종 모델 선택

In [24]:
final_model = DecisionTreeClassifier(max_depth=3, random_state=0).fit(xtrain, ytrain)
print('final model', get_scores(final_model, xtrain, xtest, ytrain, ytest))

final model 0.6719 0.7453

#### 131-11 최종 모델 예측 결과 csv 저장하기

In [25]:
y_fin_pred = final_model.predict_proba(x_fin_test)[:, 1]

result = pd.DataFrame({"ID": x_test["ID"], "Reached.on.Time_Y.N": y_fin_pred})
result.to_csv("./yemoonsaBigdata/res/ecommerce_y_pred.csv", index=False)

#### 000 결과 채점하기

In [26]:
roc_auc_score(y_fin_test, y_fin_pred)

0.7489875947204205