<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P3_C2_PythonExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 2. 빅데이터분석기사 3회**

## 1. 필답형

## 2. 작업형 제1유형

#### 000 소스 및 데이터 동기화

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 538, done.
remote: Counting objects: 100% (175/175), done.
remote: Compressing objects: 100% (131/131), done.
remote: Total 538 (delta 90), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (538/538), 10.63 MiB | 15.26 MiB/s, done.
Resolving deltas: 100% (275/275), done.

### (1) 첫번째 문제

#### 221-01 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/301_housing.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

#### 221-02 결측값 탐색하기

In [ ]:
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

#### 221-03 결측값 제거하기

In [ ]:
df_dropna = df.dropna().reset_index()

print("원본데이터 건수 : ", len(df))
print("결측값제거 데이터 건수 : ", len(df_dropna))

원본데이터 건수 :  20640
결측값제거 데이터 건수 :  20433

#### 221-04 데이터 추출하기

In [ ]:
rst_df = df_dropna.iloc[:int(len(df_dropna)*0.7)]

print("70% 추출 데이터 건수 : ", len(rst_df))

70% 추출 데이터 건수 :  14303

#### 221-05 결과 출력하기

In [ ]:
result = int(rst_df['housing_median_age'].quantile(0.25))

print(result)

19

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/301_housing.csv")

df_dropna = df.dropna().reset_index()
rst_df = df_dropna.iloc[:int(len(df_dropna)*0.7)]

result = int(rst_df['housing_median_age'].quantile(0.25))

print(result) # 최종 결과값만 print되도록 해야 합니다.

19

### (2) 두번째 문제

#### 222-01 데이터 불러오기 & 탐색하기

In [ ]:
import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/302_worlddata.csv")
print(df.head(5))

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]

####222-02 데이터 추출하기

In [ ]:
df_2000 = df[df['year']==2000].drop('year', axis=1)
print(df_2000)

   Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
1            0    132.0      0.0    138.0    57.0              128.0

   Argentina  Armenia  Australia  Austria  ...  Tanzania    USA  Uruguay  \
1       25.0    179.0       72.0     75.0  ...       6.0  158.0     35.0

   Uzbekistan  Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
1       101.0     18.0      100.0        2    0.0    19.0      18.0

[1 rows x 193 columns]

####222-03 행/열 변환

In [ ]:
df_2000.index = ['value']
df_2000_T = df_2000.T
print(df_2000_T)

             value
Afghanistan    0.0
Albania      132.0
Algeria        0.0
Andorra      138.0
Angola        57.0
...            ...
Venezuela    100.0
Vietnam        2.0
Yemen          0.0
Zambia        19.0
Zimbabwe      18.0

[193 rows x 1 columns]

####222-04 데이터 추출하기

In [ ]:
rst_df = df_2000_T[df_2000_T['value'] > df_2000_T['value'].mean()]
print(rst_df)

                      value
Albania               132.0
Andorra               138.0
Antigua & Barbuda     128.0
Armenia               179.0
Bahamas               176.0
...                     ...
United Arab Emirates  135.0
United Kingdom        126.0
USA                   158.0
Uzbekistan            101.0
Venezuela             100.0

[76 rows x 1 columns]

####222-05 결과 출력하기

In [ ]:
result = len(rst_df)
print(result)

76

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/302_worlddata.csv")

df_2000 = df[df['year']==2000].drop('year', axis=1)
df_2000.index = ['value']
df_2000_T = df_2000.T
rst_df = df_2000_T[df_2000_T['value'] > df_2000_T['value'].mean()]

result = len(rst_df)

print(result) # 최종 결과값만 print되도록 해야 합니다.

76

### (3) 세번째 문제

#### 223-01 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/303_titanic.csv")
print(df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S

#### 223-02 결측값 개수 세기

In [ ]:
rst_df = df.isnull().sum().reset_index()
rst_df.columns = ['var', 'count']
print(rst_df)

            var  count
0   PassengerId      0
1      Survived      0
2        Pclass      0
3          Name      0
4           Sex      0
5           Age    177
6         SibSp      0
7         Parch      0
8        Ticket      0
9          Fare      0
10        Cabin    118
11     Embarked      2

#### 223-03 결과 출력하기

In [ ]:
result = rst_df.loc[rst_df['count']==rst_df['count'].max(), 'var'].values[0]
print(result)

Age

In [ ]:
## 참고 - 뒤에 values[0]이 없을 경우 
result = rst_df.loc[rst_df['count']==rst_df['count'].max(), 'var']
print(result) # 결과 값이 Series형태로 나옴

5    Age
Name: var, dtype: object

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/303_titanic.csv")

rst_df = df.isnull().sum().reset_index()
rst_df.columns = ['var', 'count']

result = rst_df.loc[rst_df['count']==rst_df['count'].max(), 'var'].values[0]

print(result) # 최종 결과값만 print되도록 해야 합니다.

Age

## 3. 작업형 제2유형

### (1) 사전 준비

#### 231-01. 데이터 불러오기

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/304_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/304_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/304_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'index': X_test.index, 'y_pred': pred}).to_csv('003000000.csv', index=False)

In [ ]:
print(X_train.head())

     ID  Age               Employment Type GraduateOrNot  AnnualIncome  \
0  1704   26  Private Sector/Self Employed           Yes       1400000
1   491   28  Private Sector/Self Employed           Yes       1100000
2   414   33  Private Sector/Self Employed           Yes       1400000
3   120   28  Private Sector/Self Employed           Yes        800000
4  1268   33             Government Sector           Yes       1000000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
0              3                1            No                 Yes
1              4                1            No                  No
2              4                0            No                 Yes
3              3                1            No                  No
4              5                0            No                 Yes

In [ ]:
print(y_train.head())

     ID  TravelInsurance
0  1704                0
1   491                1
2   414                1
3   120                0
4  1268                1

In [ ]:
print(X_test.head())

     ID  Age               Employment Type GraduateOrNot  AnnualIncome  \
0  1569   27             Government Sector           Yes        500000
1  1344   25  Private Sector/Self Employed           Yes       1700000
2  1429   32             Government Sector           Yes        650000
3   896   33             Government Sector           Yes        600000
4   101   33  Private Sector/Self Employed           Yes       1500000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
0              5                0            No                  No
1              3                0           Yes                  No
2              3                0            No                  No
3              4                0            No                  No
4              3                1           Yes                 Yes

### (2) 데이터 전처리

#### 232-01. 데이터 확인하기

In [ ]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
dtypes: int64(5), object(4)
memory usage: 104.9+ KB
None

In [ ]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1490 non-null   int64
 1   TravelInsurance  1490 non-null   int64
dtypes: int64(2)
memory usage: 23.4 KB
None

In [ ]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB
None

#### 232-02. 변수별 결측치 수 확인

In [ ]:
X_train.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [ ]:
X_test.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [ ]:
y_train.isnull().sum()

ID                 0
TravelInsurance    0
dtype: int64

#### 232-03. 변수 구분

In [ ]:
# ID: 불필요한 변수
# Age, AnnualIncome, FamilyMembers, ChronicDiseases: 수치형 변수
# Employment Type, GraduateOrNot, FrequentFlyer, EverTravelledAbroad: 범주형 변수
# TravelInsurance: 종속 변수

COL_DEL = ['ID']
COL_NUM = ['Age', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases']
COL_CAT = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']
COL_Y = ['TravelInsurance']

### (3) 데이터 모형 구축

#### 233-01. 데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT]
                                            , y_train[COL_Y].values.ravel()
                                            , test_size=0.3
                                            , stratify=y_train[COL_Y].values.ravel())

In [ ]:
print(X_tr.head())

      Age  AnnualIncome  FamilyMembers  ChronicDiseases  \
545    34       1050000              7                1
484    26        600000              6                0
1162   29        900000              6                0
647    28        650000              4                0
45     33        800000              3                0

                   Employment Type GraduateOrNot FrequentFlyer  \
545   Private Sector/Self Employed           Yes            No
484   Private Sector/Self Employed           Yes           Yes
1162  Private Sector/Self Employed           Yes           Yes
647   Private Sector/Self Employed           Yes            No
45               Government Sector           Yes            No

     EverTravelledAbroad
545                   No
484                   No
1162                  No
647                   No
45                    No

In [ ]:
print(y_tr)

[1 0 1 ... 0 1 1]

#### 233-02. 수치형 변수 - 데이터 스케일링

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM]   = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]  = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [ ]:
print(X_tr[COL_NUM].head())

           Age  AnnualIncome  FamilyMembers  ChronicDiseases
545   1.498696      0.302894       1.418144         1.551933
484  -1.243053     -0.902390       0.803124        -0.644358
1162 -0.214897     -0.098867       0.803124        -0.644358
647  -0.557616     -0.768469      -0.426917        -0.644358
45    1.155977     -0.366708      -1.041938        -0.644358

#### 233-03. 범주형 변수 - 데이터 인코딩

In [ ]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])

for col in COL_CAT:
  le = LabelEncoder()
  le.fit(X[col])
  X_tr[col] = le.transform(X_tr[col])
  X_val[col] = le.transform(X_val[col])
  X_test[col] = le.transform(X_test[col])

  # 각 변수의 클래스 확인
  print(col)
  print(le.classes_)
  print('\n')

Employment Type
['Government Sector' 'Private Sector/Self Employed']


GraduateOrNot
['No' 'Yes']


FrequentFlyer
['No' 'Yes']


EverTravelledAbroad
['No' 'Yes']

In [ ]:
print(X_tr[COL_CAT].head())

      Employment Type  GraduateOrNot  FrequentFlyer  EverTravelledAbroad
545                 1              1              0                    0
484                 1              1              1                    0
1162                1              1              1                    0
647                 1              1              0                    0
45                  0              1              0                    0

#### 333-04. 모형 학습

In [ ]:
## 1) 랜덤 포레스트
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=123)
modelRF.fit(X_tr, y_tr)

## 2) XGBoost
from xgboost import XGBClassifier
modelXGB = XGBClassifier(random_state=123)
modelXGB.fit(X_tr, y_tr)

XGBClassifier(random_state=123)

### (4) 데이터 모형 평가

#### 234-01. 검증 데이터로 예측값 생성

In [ ]:
y_val_predRF = modelRF.predict_proba(X_val)[:, 1]
y_val_predXGB = modelXGB.predict_proba(X_val)[:, 1]

#### 234-02. 평가지표 구하기

In [ ]:
## 답안 채점 기준인 roc_auc 사용
from sklearn.metrics import roc_auc_score

scoreRF = roc_auc_score(y_val, y_val_predRF)
scoreXGB = roc_auc_score(y_val, y_val_predXGB)

print('Random Forest: \t', scoreRF)
print('XGBoost: \t', scoreXGB)

Random Forest: 	 0.807050032488629
XGBoost: 	 0.8169482347844921

#### 234-03. 학습, 검증 성능 확인 함수

In [ ]:
def get_scores(model, X_tr, X_val, y_tr, y_val):

  y_tr_pred = model.predict_proba(X_tr)[:, 1]
  y_val_pred = model.predict_proba(X_val)[:, 1]
  tr_score = roc_auc_score(y_tr, y_tr_pred)
  val_score = roc_auc_score(y_val, y_val_pred)

  return f'train: {round(tr_score, 4)}, valid: {round(val_score, 4)}'

In [ ]:
print('Random Forest \t-', get_scores(modelRF, X_tr, X_val, y_tr, y_val))
print('XGBoost \t-', get_scores(modelXGB, X_tr, X_val, y_tr, y_val))

Random Forest 	- train: 0.9911, valid: 0.8071
XGBoost 	- train: 0.8822, valid: 0.8169

#### 234-04. 하이퍼 파라미터 튜닝

In [ ]:
modelXGB2 = XGBClassifier(n_estimators=50, max_depth=3, min_child_weight=1, random_state=123)
modelXGB2.fit(X_tr, y_tr)

modelXGB3 = XGBClassifier(n_estimators=50, max_depth=5, min_child_weight=1, random_state=123)
modelXGB3.fit(X_tr, y_tr)

modelXGB4 = XGBClassifier(n_estimators=50, max_depth=3, min_child_weight=2, random_state=123)
modelXGB4.fit(X_tr, y_tr)

modelXGB5 = XGBClassifier(n_estimators=50, max_depth=5, min_child_weight=2, random_state=123)
modelXGB5.fit(X_tr, y_tr)

print('XGBoost2 \t-', get_scores(modelXGB2, X_tr, X_val, y_tr, y_val))
print('XGBoost3 \t-', get_scores(modelXGB3, X_tr, X_val, y_tr, y_val))
print('XGBoost4 \t-', get_scores(modelXGB4, X_tr, X_val, y_tr, y_val))
print('XGBoost5 \t-', get_scores(modelXGB5, X_tr, X_val, y_tr, y_val))

XGBoost2 	- train: 0.8691, valid: 0.808
XGBoost3 	- train: 0.9123, valid: 0.8316
XGBoost4 	- train: 0.8702, valid: 0.808
XGBoost5 	- train: 0.9056, valid: 0.8253

#### 234-05. 최종 결과값 생성

In [ ]:
pred = modelXGB2.predict_proba(X_test[COL_NUM+COL_CAT])[:, 1]
result = pd.DataFrame({'ID': X_test.ID, 'pred': pred})
print(result.head())

     ID      pred
0  1569  0.155600
1  1344  0.909667
2  1429  0.222075
3   896  0.293852
4   101  0.900748

In [ ]:
## 최종 결과 확인 후 to_csv 함수로 제출
# result.to_csv('003000000.csv', index=False)