<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P3_C4_PythonExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 4. 빅데이터분석기사 5회**

## 1. 필답형

## 2. 작업형 제1유형

#### 000 소스 및 데이터 동기화

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 535, done.
remote: Counting objects: 100% (172/172), done.
remote: Compressing objects: 100% (128/128), done.
remote: Total 535 (delta 90), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (535/535), 10.63 MiB | 8.40 MiB/s, done.
Resolving deltas: 100% (275/275), done.

### (1) 첫 번째 문제

#### 421-01 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')
print(df.head())

   시도명 시군구명       종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
0  강원도  강릉시     규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...   130
1  강원도  강릉시  재사용규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...     0
2  강원도  고성군     규격봉투  소각용   생활쓰레기  가정용     0       0     0       0  ...   140
3  강원도  고성군     규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
4  강원도  고성군   특수규격마대  매립용   생활쓰레기  가정용     0       0     0       0  ...     0

   10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0    270    520      0   1250      0   1880       0       0       0
1    270    520      0      0      0      0       0       0       0
2    260    500      0   1220      0      0    2410       0       0
3      0      0      0      0      0      0       0       0       0
4      0      0      0   1540      0      0       0       0       0

[5 rows x 21 columns]

#### 421-02 용도, 사용대상 기준으로 데이터 추출하기

In [ ]:
# 용도 컬럼 값들 확인
print(df['용도'].unique())

['생활쓰레기' '음식물쓰레기']

In [ ]:
# 사용대상 컬럼 값들 확인
print(df['사용대상'].unique())

['기타' '가정용' '사업장용' '영업용' '영업장용' '범용']

In [ ]:
df_filtered = df[(df['용도']=='음식물쓰레기')&(df['사용대상']=='가정용')]
print(df_filtered.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
8   강원도  삼척시  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...    80
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
16  강원도  영월군  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...   110

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
8     150    290      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
16    180    350      0    900      0   1350       0       0       0

[5 rows x 21 columns]

#### 421-03 2L 봉투가 존재하는 데이터 추출

In [ ]:
rst_df = df_filtered[df_filtered['2L가격']!=0]
print(rst_df.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
20  강원도  원주시  규격봉투   기타  음식물쓰레기  가정용     0       0    80       0  ...   170
33  강원도  춘천시  규격봉투  매립용  음식물쓰레기  가정용    40       0    50       0  ...   140

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
20    320    680      0   1690      0      0       0       0       0
33    230    470      0      0      0      0       0       0       0

[5 rows x 21 columns]

#### 421-04 결과 출력하기

In [ ]:
result = int(rst_df['2L가격'].mean())
print(result)

119

In [ ]:
## 전체 풀이 코드 

import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

df_filtered = df[(df['용도']=='음식물쓰레기')&(df['사용대상']=='가정용')]
rst_df = df_filtered[df_filtered['2L가격']!=0]

result = int(rst_df['2L가격'].mean())

print(result) # 최종 결과값만 print되도록 해야 합니다.

119

### (2) 두 번째 문제

#### 422-01 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv')
print(df.head())

   Gender  Height  Weight
0    Male     174      96
1    Male     189      87
2  Female     185     110
3  Female     195     104
4    Male     149      61

#### 422-02 bmi지수 구하기

In [ ]:
df['Height_m'] = df['Height']/100 # cm단위를 m로 변환
df['BMI'] = df['Weight']/(df['Height_m']**2)
print(df.head())

   Gender  Height  Weight  Height_m        BMI
0    Male     174      96      1.74  31.708284
1    Male     189      87      1.89  24.355421
2  Female     185     110      1.85  32.140248
3  Female     195     104      1.95  27.350427
4    Male     149      61      1.49  27.476240

#### 422-03 비만도 구하기

In [ ]:
n1 = len(df[(df['BMI']>=18.5)&(df['BMI']<23)]) # 비만도 정상
n2 = len(df[(df['BMI']>=23)&(df['BMI']<25)]) # 비만도 과체중
print(n1, n2)

47 19

#### 422-04 결과 출력하기

In [ ]:
result = abs(n1 - n2)
print(result)

28

In [ ]:
## 전체 풀이 코드
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv')

df['Height_m'] = df['Height']/100 # cm단위를 m로 변환
df['BMI'] = df['Weight']/(df['Height_m']**2)

n1 = len(df[(df['BMI']>=18.5)&(df['BMI']<23)]) # 비만도 정상
n2 = len(df[(df['BMI']>=23)&(df['BMI']<25)]) # 비만도 과체중

result = abs(n1 - n2)

print(result) # 최종 결과값만 print되도록 해야 합니다.

28

### (3) 세 번째 문제

#### 423-01 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수
0  A   1       9       1      222
1  A   2      13       4      148
2  A   3       8       7      196
3  B   1       7       5      171
4  B   2       9       1      216

#### 423-02 순 전입학생 수 구하기

In [ ]:
df['순 전입학생 수'] = df['총 전입학생'] - df['총 전출학생']
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생 수
0  A   1       9       1      222         8
1  A   2      13       4      148         9
2  A   3       8       7      196         1
3  B   1       7       5      171         2
4  B   2       9       1      216         8

#### 423-03 학교별 총 순 전입생 수, 전체 학생 수 계산

In [ ]:
rst_df = df.groupby(['학교'])[['순 전입학생 수', '전체 학생 수']].sum()
print(rst_df.head())

    순 전입학생 수  전체 학생 수
학교
A         18      566
B         13      588
C         -9      528
D          7      548
E         14      603

#### 423-04. 결과 출력하기

In [ ]:
result = rst_df.loc[rst_df['순 전입학생 수']==rst_df['순 전입학생 수'].max(), '전체 학생 수'].values[0]
print(result)

566

In [ ]:
## 참고 - 뒤에 values[0]이 없을 경우 
result = rst_df.loc[rst_df['순 전입학생 수']==max(rst_df['순 전입학생 수']), '전체 학생 수']
print(result) # 결과 값이 Series형태로 나옴

학교
A    566
Name: 전체 학생 수, dtype: int64

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')

df['순 전입학생 수'] = df['총 전입학생'] - df['총 전출학생']
rst_df = df.groupby(['학교'])[['순 전입학생 수', '전체 학생 수']].sum()

result = rst_df.loc[rst_df['순 전입학생 수']==max(rst_df['순 전입학생 수']), '전체 학생 수'].values[0]

print(result) # 최종 결과값만 print되도록 해야 합니다.

566

## 3. 작업형 제2유형

### (1) 사전 준비

#### 431-01. 데이터 불러오기

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'index': X_test.index, 'y_pred': pred}).to_csv('003000000.csv', index=False)

In [ ]:
print(X_train.head())

   id model  year transmission  mileage fuelType  tax   mpg  engineSize
0   1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1   2   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2   3    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3   4    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4   5    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0

In [ ]:
print(y_train.head())

   id  price
0   1  21350
1   2  69691
2   3  42950
3   4  31470
4   5  27495

In [ ]:
print(X_test.head())

     id model  year transmission  mileage fuelType  tax   mpg  engineSize
0  7469    A4  2020    Semi-Auto     4000   Diesel  145  54.3         3.0
1  7470    A6  2016       Manual    31300   Diesel   30  61.4         2.0
2  7471    Q5  2019    Semi-Auto    11296   Diesel  150  38.2         2.0
3  7472    A1  2018       Manual     6500   Petrol  145  55.4         1.4
4  7473    A3  2016       Manual    31524   Petrol   30  60.1         1.4

### (2) 데이터 전처리

#### 432-01. 데이터 확인하기

In [ ]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB
None

In [ ]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3200 non-null   int64
 1   model         3200 non-null   object
 2   year          3200 non-null   int64
 3   transmission  3200 non-null   object
 4   mileage       3200 non-null   int64
 5   fuelType      3200 non-null   object
 6   tax           3200 non-null   int64
 7   mpg           3200 non-null   float64
 8   engineSize    3200 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 225.1+ KB
None

In [ ]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7468 non-null   int64
 1   price   7468 non-null   int64
dtypes: int64(2)
memory usage: 116.8 KB
None

#### 432-02. 변수별 결측치 수 확인

In [ ]:
X_train.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
X_test.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
y_train.isnull().sum()

id       0
price    0
dtype: int64

#### 432-03. 변수 구분

In [ ]:
# id: 불필요한 변수
# year, mileage, tax, mpg, engineSize: 수치형 변수
# model, transmission, fuelType: 범주형 변수
# price: 종속 변수

COL_DEL = ['id']
COL_NUM = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
COL_CAT = ['model', 'transmission', 'fuelType']
COL_Y = ['price']

### (3) 데이터 모형 구축

#### 433-01. 데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT]
                                            , y_train[COL_Y].values.ravel()
                                            , test_size=0.3)

In [ ]:
print(X_tr.head())

      year  mileage  tax   mpg  engineSize model transmission fuelType
459   2016    28994  160  50.4         2.0    Q3    Semi-Auto   Diesel
3338  2009    92000  200  40.9         1.6    A3       Manual   Petrol
5458  2019     9124  145  47.9         2.0    A6    Automatic   Diesel
6364  2016    35500   20  60.1         1.0    A3       Manual   Petrol
3295  2019     5450  145  34.9         2.0    A3    Semi-Auto   Petrol

In [ ]:
print(y_tr)

[20495  4495 27490 ... 15500 23940 28795]

#### 433-02. 수치형 변수 - 데이터 스케일링

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM]   = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]  = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [ ]:
print(X_tr[COL_NUM].head())

          year   mileage       tax       mpg  engineSize
459  -0.512208  0.177396  0.519110 -0.056217    0.131550
3338 -3.793228  2.896925  1.117267 -0.776595   -0.538799
5458  0.893943 -0.680253  0.294801 -0.245790    0.131550
6364 -0.512208  0.458215 -1.574439  0.679327   -1.544323
3295  0.893943 -0.838834  0.294801 -1.231570    0.131550

#### 433-03. 범주형 변수 - 데이터 인코딩

In [ ]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])

for col in COL_CAT:
  le = LabelEncoder()
  le.fit(X[col])
  X_tr[col] = le.transform(X_tr[col])
  X_val[col] = le.transform(X_val[col])
  X_test[col] = le.transform(X_test[col])

  # 각 변수의 클래스 확인
  print(col)
  print(le.classes_)
  print('\n')

model
[' A1' ' A2' ' A3' ' A4' ' A5' ' A6' ' A7' ' A8' ' Q2' ' Q3' ' Q5' ' Q7'
 ' Q8' ' R8' ' RS3' ' RS4' ' RS5' ' RS6' ' RS7' ' S3' ' S4' ' S5' ' S8'
 ' SQ5' ' SQ7' ' TT']


transmission
['Automatic' 'Manual' 'Semi-Auto']


fuelType
['Diesel' 'Hybrid' 'Petrol']

In [ ]:
print(X_tr[COL_CAT].head())

      model  transmission  fuelType
459       9             2         0
3338      2             1         2
5458      5             0         0
6364      2             1         2
3295      2             2         2

#### 433-04. 모형 학습

In [ ]:
## 1) 랜덤 포레스트
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor(random_state=123)
modelRF.fit(X_tr, y_tr)

## 2) XGBoost
from xgboost import XGBRegressor
modelXGB = XGBRegressor(objective='reg:squarederror', random_state=123)
modelXGB.fit(X_tr, y_tr)

XGBRegressor(objective='reg:squarederror', random_state=123)

### (4) 데이터 모형 평가

#### 434-01. 검증 데이터로 예측값 생성

In [ ]:
y_val_predRF = modelRF.predict(X_val)
y_val_predXGB = modelXGB.predict(X_val)

#### 434-02. 평가지표 구하기

In [ ]:
## 답안 채점 기준인 rmse 사용 (mean_squared_error를 사용하여 검증해도 됩니다.)
from sklearn.metrics import mean_squared_error
import numpy as np

def cal_rmse(actual, pred):
  return np.sqrt(mean_squared_error(actual, pred))

scoreRF = cal_rmse(y_val, y_val_predRF)
scoreXGB = cal_rmse(y_val, y_val_predXGB)

print('Random Forest: \t', scoreRF)
print('XGBoost: \t', scoreXGB)

Random Forest: 	 2617.114289963023
XGBoost: 	 2915.608649315291

#### 434-03. 학습, 검증 성능 확인 함수

In [ ]:
def get_scores(model, X_tr, X_val, y_tr, y_val):

  y_tr_pred = model.predict(X_tr)
  y_val_pred = model.predict(X_val)
  tr_score = cal_rmse(y_tr, y_tr_pred)
  val_score = cal_rmse(y_val, y_val_pred)

  return f'train: {round(tr_score, 4)}, valid: {round(val_score, 4)}'

In [ ]:
print('Random Forest \t-', get_scores(modelRF, X_tr, X_val, y_tr, y_val))
print('XGBoost \t-', get_scores(modelXGB, X_tr, X_val, y_tr, y_val))

Random Forest 	- train: 989.7972, valid: 2617.1143
XGBoost 	- train: 2497.9281, valid: 2915.6086

#### 434-04. 하이퍼 파라미터 튜닝

In [ ]:
modelXGB2 = XGBRegressor(objective='reg:squarederror', n_estimators=50, max_depth=5, min_child_weight=2, random_state=123)
modelXGB2.fit(X_tr, y_tr)

modelXGB3 = XGBRegressor(objective='reg:squarederror', n_estimators=50, max_depth=10, min_child_weight=2, random_state=123)
modelXGB3.fit(X_tr, y_tr)

modelXGB4 = XGBRegressor(objective='reg:squarederror', n_estimators=100, max_depth=5, min_child_weight=1, random_state=123)
modelXGB4.fit(X_tr, y_tr)

modelXGB5 = XGBRegressor(objective='reg:squarederror', n_estimators=100, max_depth=10, min_child_weight=2, random_state=123)
modelXGB5.fit(X_tr, y_tr)

print('XGBoost2 \t-', get_scores(modelXGB2, X_tr, X_val, y_tr, y_val))
print('XGBoost3 \t-', get_scores(modelXGB3, X_tr, X_val, y_tr, y_val))
print('XGBoost4 \t-', get_scores(modelXGB4, X_tr, X_val, y_tr, y_val))
print('XGBoost5 \t-', get_scores(modelXGB5, X_tr, X_val, y_tr, y_val))

XGBoost2 	- train: 2158.4701, valid: 2727.3874
XGBoost3 	- train: 1270.6365, valid: 2566.9535
XGBoost4 	- train: 1912.8758, valid: 2594.9053
XGBoost5 	- train: 993.8616, valid: 2548.8431

#### 434-05. 최종 결과값 생성

In [ ]:
pred = modelXGB4.predict(X_test[COL_NUM+COL_CAT])
result = pd.DataFrame({'id': X_test.id, 'price': pred})
print(result.head())

     id         price
0  7469  32735.384766
1  7470  16833.208984
2  7471  34719.070312
3  7472  16310.742188
4  7473  14707.406250

In [ ]:
## 최종 결과 확인 후 to_csv 함수로 제출
# result.to_csv('003000000.csv', index=False)