<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/P3_C1_PythonExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 1. 기출 문제 : 빅데이터분석기사 2회**

## 1. 단답형

## 2. 작업형 제1유형

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 157, done.
remote: Counting objects: 100% (157/157), done.
remote: Compressing objects: 100% (151/151), done.
remote: Total 157 (delta 70), reused 4 (delta 1), pack-reused 0
Receiving objects: 100% (157/157), 3.37 MiB | 5.12 MiB/s, done.
Resolving deltas: 100% (70/70), done.

### (1) 번 문제

#### 301 데이터 불러오기 & 탐색하기

In [13]:
import pandas as pd

boston = pd.read_csv("./yemoonsaBigdata/datasets/201_boston.csv")
boston.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

#### 302 내림차순 정렬

In [14]:
boston_sort = boston.sort_values('CRIM', ascending=False)
boston_sort.head(12)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,73.5341,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,67.9208,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,51.1358,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,45.7461,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,41.5292,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,38.3518,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,37.6619,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,28.6558,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77
403,24.8017,0.0,18.1,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77

#### 303 상위 10번째값 찾기

In [ ]:
crim10_value = boston_sort.iloc[9, 0]
crim10_value

25.9406

#### 304 상위 10번째값 변경하기

In [ ]:
boston_sort.iloc[:9, 0] = crim10_value
boston_sort.head(12)

        CRIM   ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
380  25.9406  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  17.21
418  25.9406  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   16.45  20.62
405  25.9406  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  384.97  22.98
410  25.9406  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2    2.60  10.11
414  25.9406  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2   88.27  36.98
404  25.9406  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  329.46  27.38
398  25.9406  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  30.59
427  25.9406  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   18.82  14.52
413  25.9406  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2  210.97  20.08
417  25.9406  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2  127.36  26.64
400  25.0461  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  26.77
403  24.8017  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  19.77
386  24.3938  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  28.28
378  23.6482  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  23.69
387  22.5971  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  31.99

[15 rows x 13 columns]

#### 305 조건부 평균값 구하기

In [15]:
boston_sort_80 = boston_sort[boston_sort['AGE'] >= 80]
result = boston_sort_80['CRIM'].mean()
result

6.710740791666667

### (2) 번 문제

#### 306 데이터 불러오기 & 탐색하기

In [16]:
import pandas as pd

housing = pd.read_csv("./yemoonsaBigdata/datasets/202_housing.csv")
housing.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

#### 307 훈련 데이터 추출하기

In [18]:
value = int(len(housing) * 0.8)
bedrooms = housing['total_bedrooms'][:value]

bedrooms

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
16507     599.0
16508     331.0
16509     411.0
16510     941.0
16511     417.0
Name: total_bedrooms, Length: 16512, dtype: float64

#### 308 표준편차 계산하기

In [19]:
std1 = bedrooms.std()
std1

435.900577052527

#### 309 중앙값 계산하기

In [21]:
med = bedrooms.median()
med

436.0

#### 310 결측값 채워서 표준편차 계산하기

In [22]:
bedrooms_fill = bedrooms.fillna(med)
std2 = bedrooms_fill.std()
std2

433.9254297608813

#### 311 표준편차 차이 구하기

In [23]:
result = abs(std1 - std2)
result

1.975147291645726

### (3) 번 문제

#### 312 데이터 불러오기 & 탐색하기

In [24]:
import pandas as pd

housing = pd.read_csv("./yemoonsaBigdata/datasets/203_housing.csv")
housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### 313 평균과 표준편차 계산하기

In [28]:
population = housing['population']
mean = population.mean()
std = population.std()

print("평균 : ", mean)
print("표준편차 : ", std)

평균 :  1425.4767441860465
표준편차 :  1132.4621217653375

#### 314 이상값 임계치 계산하기

In [29]:
lower = mean - (std * 1.5)
upper = mean + (std * 1.5)

print("정상범위 최소값 : ", lower)
print("정상범위 최대값 : ", upper)

정상범위 최소값 :  -273.2164384619598
정상범위 최대값 :  3124.1699268340526

#### 315 이상값 계산하기

In [30]:
population_outlier = population[(lower > population) | (upper < population)]
population_outlier

95       3469.0
185      4367.0
283      4985.0
460      3337.0
485      3276.0
          ...
20543    3717.0
20544    6330.0
20563    6837.0
20604    3265.0
20629    6912.0
Name: population, Length: 1207, dtype: float64

#### 316 이상값 합계 구하기

In [31]:
result = population_outlier.sum()
result

5607295.0

## 3. 작업형 제2유형

In [3]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 160, done.
remote: Counting objects: 100% (160/160), done.
remote: Compressing objects: 100% (154/154), done.
remote: Total 160 (delta 72), reused 4 (delta 1), pack-reused 0
Receiving objects: 100% (160/160), 3.37 MiB | 5.45 MiB/s, done.
Resolving deltas: 100% (72/72), done.

### (1) 번 문제

In [4]:
# E-Commerce Shipping Data
# https://www.kaggle.com/prachi13/customer-analytics?select=Train.csv

#### 317 데이터 불러오기 & 탐색하기

In [5]:
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/204_ecommerce.csv")
df.head(10)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
5,6,F,Flight,3,1,162,3,medium,F,12,1417,1
6,7,D,Flight,3,4,250,3,low,F,3,2371,1
7,8,F,Flight,4,1,233,2,low,F,48,2804,1
8,9,A,Flight,3,4,150,3,low,F,11,1861,1
9,10,B,Flight,3,2,164,3,medium,F,29,1187,1

#### 318 훈련 데이터 추출하기

In [17]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(df, test_size=0.4, stratify=df['Reached.on.Time_Y.N'], random_state=0)

y_train = x_train[['ID', 'Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')

y_test = x_test[['ID', 'Reached.on.Time_Y.N']] # 시험에서는 일반적으로 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('./yemoonsaBigdata/examDataset/204_x_train.csv', index=False)
y_train.to_csv('./yemoonsaBigdata/examDataset/204_y_train.csv', index=False)
x_test.to_csv('./yemoonsaBigdata/examDataset/204_x_test.csv', index=False)
y_test.to_csv('./yemoonsaBigdata/examDataset/204_y_test.csv', index=False) # 시험에서는 일반적으로 제공되지 않음

x_train = pd.read_csv("./yemoonsaBigdata/examDataset/204_x_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/examDataset/204_y_train.csv")
x_test = pd.read_csv("./yemoonsaBigdata/examDataset/204_x_test.csv")
y_test = pd.read_csv("./yemoonsaBigdata/examDataset/204_y_test.csv") # 시험에서는 일반적으로 제공되지 않음

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((6599, 11), (6599, 2), (4400, 11), (4400, 2))

#### 319 독립변수 준비하기

In [18]:
df_x = pd.concat([x_train, x_test])
df_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 4399
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(7), object(4)
memory usage: 1.0+ MB

#### 000 독립변수 탐색하기

In [19]:
df_x.groupby(['Warehouse_block'])['Warehouse_block'].count()

Warehouse_block
A    1833
B    1833
C    1833
D    1834
F    3666
Name: Warehouse_block, dtype: int64

In [20]:
df_x.groupby(['Mode_of_Shipment'])['Mode_of_Shipment'].count()

Mode_of_Shipment
Flight    1777
Road      1760
Ship      7462
Name: Mode_of_Shipment, dtype: int64

In [21]:
df_x.groupby(['Product_importance'])['Product_importance'].count()

Product_importance
high       948
low       5297
medium    4754
Name: Product_importance, dtype: int64

In [22]:
df_x.groupby(['Gender'])['Gender'].count()

Gender
F    5545
M    5454
Name: Gender, dtype: int64

#### 000 종속변수 탐색하기

In [23]:
y_train['Reached.on.Time_Y.N'].value_counts()

1    3938
0    2661
Name: Reached.on.Time_Y.N, dtype: int64

#### 320 독립변수 라벨링 인코딩

In [24]:
df_le = df_x.copy()

df_le['Gender'] = df_x['Gender'].replace(['F', 'M'], [0, 1])
df_le['Product_importance'] = df_x['Product_importance'].replace(['low', 'medium', 'high'], [0, 1, 2])
df_le['Mode_of_Shipment'] = df_x['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'], [0, 1, 2])
df_le['Warehouse_block'] = df_x['Warehouse_block'].replace(['A', 'B', 'C', 'D', 'F'], [0, 1, 2, 3, 4])

df_le.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 4399
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  int64
 2   Mode_of_Shipment     10999 non-null  int64
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  int64
 8   Gender               10999 non-null  int64
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(11)
memory usage: 1.0 MB

#### 000 상관계수 탐색하기

In [25]:
print(df_le.corr())

                           ID  Warehouse_block  Mode_of_Shipment  \
ID                   1.000000         0.000070          0.002459
Warehouse_block      0.000070         1.000000         -0.000617
Mode_of_Shipment     0.002459        -0.000617          1.000000
Customer_care_calls  0.188998         0.014496          0.020164
Customer_rating     -0.005722         0.010169         -0.001679
Cost_of_the_Product  0.196791        -0.006679         -0.006681
Prior_purchases      0.145369        -0.005262          0.001640
Product_importance  -0.056137        -0.001528          0.009767
Gender              -0.001695        -0.003700          0.011288
Discount_offered    -0.598278         0.009569         -0.009364
Weight_in_gms        0.278312         0.004086          0.000797

                     Customer_care_calls  Customer_rating  \
ID                              0.188998        -0.005722
Warehouse_block                 0.014496         0.010169
Mode_of_Shipment                0.020164        -0.001679
Customer_care_calls             1.000000         0.012209
Customer_rating                 0.012209         1.000000
Cost_of_the_Product             0.323182         0.009270
Prior_purchases                 0.180771         0.013179
Product_importance             -0.058134         0.003999
Gender                          0.002545         0.002775
Discount_offered               -0.130750        -0.003124
Weight_in_gms                  -0.276615        -0.001897

                     Cost_of_the_Product  Prior_purchases  Product_importance  \
ID                              0.196791         0.145369           -0.056137
Warehouse_block                -0.006679        -0.005262           -0.001528
Mode_of_Shipment               -0.006681         0.001640            0.009767
Customer_care_calls             0.323182         0.180771           -0.058134
Customer_rating                 0.009270         0.013179            0.003999
Cost_of_the_Product             1.000000         0.123676           -0.046789
Prior_purchases                 0.123676         1.000000            0.027317
Product_importance             -0.046789         0.027317            1.000000
Gender                          0.019759        -0.009395           -0.002974
Discount_offered               -0.138312        -0.082769            0.026023
Weight_in_gms                  -0.132604        -0.168213            0.093211

                       Gender  Discount_offered  Weight_in_gms
ID                  -0.001695         -0.598278       0.278312
Warehouse_block     -0.003700          0.009569       0.004086
Mode_of_Shipment     0.011288         -0.009364       0.000797
Customer_care_calls  0.002545         -0.130750      -0.276615
Customer_rating      0.002775         -0.003124      -0.001897
Cost_of_the_Product  0.019759         -0.138312      -0.132604
Prior_purchases     -0.009395         -0.082769      -0.168213
Product_importance  -0.002974          0.026023       0.093211
Gender               1.000000         -0.011777       0.003573
Discount_offered    -0.011777          1.000000      -0.376067
Weight_in_gms        0.003573         -0.376067       1.000000

#### 000 머신러닝 패키지 불러오기

In [26]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

#### 321 모델 점수 계산 함수 생성

In [27]:
from sklearn.metrics import roc_auc_score

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred1 = model.predict_proba(xtrain)[:, 1]
    ypred2 = model.predict_proba(xtest)[:, 1]    
    C = roc_auc_score(ytrain, ypred1)  
    D = roc_auc_score(ytest, ypred2) 
    return '{:.4f} {:.4f} {:.4f} {:.4f}'.format(A, B, C, D)

#### 322 머신러닝 모델 실행 함수 생성

In [28]:
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))

    model2 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model2', get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model2 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model2', d, get_scores(model2, xtrain, xtest, ytrain, ytest))

    model3 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    model4 = XGBClassifier().fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

#### 323 스케일링 & 머신러닝 전처리

In [29]:
x_le = df_le.drop(columns=['ID'])

x_le_train = x_le.iloc[:6599, :]
x_le_test = x_le.iloc[6599:, :]

scaler = MinMaxScaler()
x_final_train = scaler.fit_transform(x_le_train)
x_final_test = scaler.fit_transform(x_le_test)

y_final_train = y_train['Reached.on.Time_Y.N']

print(x_final_train.shape, x_final_test.shape, y_final_train.shape)

(6599, 10) (4400, 10) (6599,)

#### 324 훈련 데이터 추출하기

In [31]:
xtrain, xtest, ytrain, ytest = train_test_split(x_final_train, y_final_train, test_size = 0.3, stratify=y_final_train)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(4619, 10) (1980, 10) (4619,) (1980,)

#### 325 머신러닝 실행

In [33]:
make_models(xtrain, xtest, ytrain, ytest)

model1 0.6423 0.6515 0.7238 0.7327
model2 1.0000 0.6439 1.0000 0.6311
model2 3 0.6735 0.6833 0.7434 0.7512
model2 4 0.6893 0.6919 0.7561 0.7546
model2 5 0.6913 0.6702 0.7697 0.7417
model2 6 0.6991 0.6813 0.7824 0.7340
model2 7 0.7110 0.6803 0.7998 0.7427
model3 1.0000 0.6601 1.0000 0.7393
model3 3 0.6733 0.6833 0.7713 0.7512
model3 4 0.6898 0.6823 0.7844 0.7498
model3 5 0.7012 0.6909 0.8110 0.7471
model3 6 0.7231 0.6879 0.8483 0.7425
model3 7 0.7545 0.6894 0.8873 0.7414
model4 0.7142 0.6773 0.8161 0.7388

#### 326 최종 모델 선택

In [35]:
final_model = RandomForestClassifier(500, max_depth=7, random_state=0).fit(xtrain, ytrain)
print('final model', get_scores(final_model,  xtrain, xtest, ytrain, ytest))

final model 0.7545 0.6894 0.8873 0.7414

#### 327 최종 모델 예측 결과 구하기

In [36]:
y_final_pred = final_model.predict_proba(x_final_test)[:, 1]

result = pd.DataFrame({"ID": x_test["ID"], "Reached.on.Time_Y.N": y_final_pred})
result

         ID  Reached.on.Time_Y.N
0      7007             0.444072
1      9793             0.463412
2      6593             0.514403
3     10527             0.375603
4      6914             0.454034
...     ...                  ...
4395   3142             0.405285
4396   6948             0.374556
4397   7531             0.425447
4398   8398             0.461266
4399  10252             0.407302

[4400 rows x 2 columns]

#### 000 최종 모델 결과 검증

In [42]:
roc_auc_score(y_test['Reached.on.Time_Y.N'], y_final_pred) # 시험에서는 일반적으로 제공되지 않음

0.7366782025486251

#### 000 최종 모델 예측 결과 파일 생성

In [106]:
result.to_csv("./yemoonsaBigdata/examDataset/204_result.csv", index=False)