# **Chapter 2. 빅데이터분석기사 3회**

## 1. 필답형

## 2. 작업형 제1유형

#### 000 소스 및 데이터 동기화

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 446, done.
remote: Counting objects: 100% (446/446), done.
remote: Compressing objects: 100% (421/421), done.
remote: Total 446 (delta 222), reused 42 (delta 19), pack-reused 0
Receiving objects: 100% (446/446), 8.32 MiB | 4.59 MiB/s, done.
Resolving deltas: 100% (222/222), done.

### (1) 첫번째 문제

#### 221-01 데이터 불러오기 & 탐색하기

In [2]:
import pandas as pd

housing = pd.read_csv("./yemoonsaBigdata/datasets/Part3/301_housing.csv")
print(housing.head(5))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

#### 221-02 결측값 탐색하기

In [3]:
print(housing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

#### 221-03 결측값 제거하기

In [4]:
housing_dropna = housing.dropna(inplace=False)

print("원본데이터 건수 : ", len(housing))
print("결측값제거 데이터 건수 : ", len(housing_dropna))

원본데이터 건수 :  20640
결측값제거 데이터 건수 :  20433

#### 221-04 데이터 추출하기

In [5]:
housing_dropna_70 = housing_dropna.iloc[:int(len(housing_dropna) * 0.7)]

print("70%추출 데이터 건수 : ", len(housing_dropna_70))

70%추출 데이터 건수 :  14303

#### 221-05 제1사분위수 계산하기

In [6]:
result = int(housing_dropna_70['housing_median_age'].quantile(0.25))

print(result)

19

### (2) 두번째 문제

#### 222-01 데이터 불러오기 & 탐색하기

In [7]:
import pandas as pd

disease = pd.read_csv("./yemoonsaBigdata/datasets/Part3/302_worlddata.csv")
print(disease.head(5))

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]

####222-02 데이터 추출하기

In [8]:
disease_2000 = disease[disease['year'] == 2000]
print(disease_2000)

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
1  2000            0    132.0      0.0    138.0    57.0              128.0

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
1     18.0      100.0        2    0.0    19.0      18.0

[1 rows x 194 columns]

####222-03 행/열 변환 & 행 삭제

In [9]:
disease_2000_T = disease_2000.T
disease_2000_T_drop = disease_2000_T.drop(['year'], axis=0)
disease_2000_T_drop.columns=['value']

print(disease_2000_T_drop)

             value
Afghanistan    0.0
Albania      132.0
Algeria        0.0
Andorra      138.0
Angola        57.0
...            ...
Venezuela    100.0
Vietnam        2.0
Yemen          0.0
Zambia        19.0
Zimbabwe      18.0

[193 rows x 1 columns]

####222-04 평균 계산하기

In [10]:
mean = disease_2000_T_drop['value'].mean()

print(mean)

81.01036269430051

####222-05 데이터 추출하기

In [11]:
disease_final = disease_2000_T_drop[disease_2000_T_drop['value'] > mean]

print(disease_final)

                      value
Albania               132.0
Andorra               138.0
Antigua & Barbuda     128.0
Armenia               179.0
Bahamas               176.0
...                     ...
United Arab Emirates  135.0
United Kingdom        126.0
USA                   158.0
Uzbekistan            101.0
Venezuela             100.0

[76 rows x 1 columns]

####222-06 데이터 건수 계산하기

In [12]:
result = len(disease_final)

print(result)

76

### (3) 세번째 문제

#### 223-01 데이터 불러오기 & 탐색하기

In [13]:
import pandas as pd

titanic = pd.read_csv("./yemoonsaBigdata/datasets/Part3/303_titanic.csv")
print(titanic.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S

#### 223-02 결측값 탐색하기

In [14]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        773 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

#### 223-03 결측값 개수 집계하기

In [15]:
titanic_isna = titanic.isna().sum()

print(titanic_isna)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          118
Embarked         2
dtype: int64

#### 223-04 집계 최대값 위치 찾기

In [16]:
max_ind = titanic_isna.argmax()

print(max_ind)

5

#### 223-05 인덱스 이름 출력하기

In [17]:
result = titanic_isna.index[max_ind]

print(result)

Age

## 3. 작업형 제2유형

### (1) 첫번째 문제

#### 231-01 데이터 불러오기 & 탐색하기

In [43]:
import pandas as pd

df_train = pd.read_csv("./yemoonsaBigdata/datasets/Part3/304_travel_insurance_train.csv")
df_test = pd.read_csv("./yemoonsaBigdata/datasets/Part3/304_travel_insurance_test.csv")
print(df_train.head(5))

     ID  Age               Employment Type GraduateOrNot  AnnualIncome  \
0  1704   26  Private Sector/Self Employed           Yes       1400000
1   491   28  Private Sector/Self Employed           Yes       1100000
2   414   33  Private Sector/Self Employed           Yes       1400000
3   120   28  Private Sector/Self Employed           Yes        800000
4  1268   33             Government Sector           Yes       1000000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  \
0              3                1            No                 Yes
1              4                1            No                  No
2              4                0            No                 Yes
3              3                1            No                  No
4              5                0            No                 Yes

   TravelInsurance
0                0
1                1
2                1
3                0
4                1

#### 231-02 훈련 데이터 추출하기

In [44]:
x_train = df_train.drop(columns='TravelInsurance')
y_train = df_train[['ID', 'TravelInsurance']]

x_test = df_test.copy()

x_train.to_csv('./yemoonsaBigdata/datasets/Part3/304_x_train.csv', index=False)
y_train.to_csv('./yemoonsaBigdata/datasets/Part3/304_y_train.csv', index=False)
x_test.to_csv('./yemoonsaBigdata/datasets/Part3/304_x_test.csv', index=False)

x_train = pd.read_csv("./yemoonsaBigdata/datasets/Part3/304_x_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part3/304_y_train.csv")
x_test = pd.read_csv("./yemoonsaBigdata/datasets/Part3/304_x_test.csv")

print(x_train.shape, y_train.shape, x_test.shape)

(1490, 9) (1490, 2) (497, 9)

#### 231-03 전처리 준비하기

In [45]:
df_x = pd.concat([x_train, x_test])
print(df_x.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   object
 3   GraduateOrNot        1987 non-null   object
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   object
 8   EverTravelledAbroad  1987 non-null   object
dtypes: int64(5), object(4)
memory usage: 155.2+ KB
None

#### 000 독립변수 탐색하기

In [46]:
obj_cols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']

for i in obj_cols:
    print(df_x[i].value_counts(), "\n")

Private Sector/Self Employed    1417
Government Sector                570
Name: Employment Type, dtype: int64

Yes    1692
No      295
Name: GraduateOrNot, dtype: int64

No     1570
Yes     417
Name: FrequentFlyer, dtype: int64

No     1607
Yes     380
Name: EverTravelledAbroad, dtype: int64

#### 000 종속변수 탐색하기

In [47]:
print(y_train['TravelInsurance'].value_counts())

0    950
1    540
Name: TravelInsurance, dtype: int64

#### 231-04 독립변수 라벨링 인코딩

In [48]:
df_le = df_x.copy()
df_le['Employment Type'] = df_x['Employment Type'].replace(['Private Sector/Self Employed', 'Government Sector'], [0, 1])
df_le['GraduateOrNot'] = df_x['GraduateOrNot'].replace(['No', 'Yes'], [0, 1])
df_le['FrequentFlyer'] = df_x['FrequentFlyer'].replace(['No', 'Yes'], [0, 1])
df_le['EverTravelledAbroad'] = df_x['EverTravelledAbroad'].replace(['No', 'Yes'], [0, 1])

print(df_le.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   int64
 3   GraduateOrNot        1987 non-null   int64
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   int64
 8   EverTravelledAbroad  1987 non-null   int64
dtypes: int64(9)
memory usage: 155.2 KB
None

#### 000 상관계수 탐색하기

In [49]:
print(df_le.corr())

                           ID       Age  Employment Type  GraduateOrNot  \
ID                   1.000000 -0.004917         0.015769      -0.008602
Age                 -0.004917  1.000000         0.115134       0.027125
Employment Type      0.015769  0.115134         1.000000       0.127133
GraduateOrNot       -0.008602  0.027125         0.127133       1.000000
AnnualIncome        -0.025031 -0.020101        -0.349157       0.108066
FamilyMembers       -0.041506  0.027409         0.003354       0.021201
ChronicDiseases     -0.006858  0.007359         0.011553       0.018811
FrequentFlyer       -0.004596 -0.033159        -0.143790      -0.028120
EverTravelledAbroad -0.002160 -0.012779        -0.181098       0.062683

                     AnnualIncome  FamilyMembers  ChronicDiseases  \
ID                      -0.025031      -0.041506        -0.006858
Age                     -0.020101       0.027409         0.007359
Employment Type         -0.349157       0.003354         0.011553
GraduateOrNot            0.108066       0.021201         0.018811
AnnualIncome             1.000000      -0.015367        -0.001149
FamilyMembers           -0.015367       1.000000         0.028209
ChronicDiseases         -0.001149       0.028209         1.000000
FrequentFlyer            0.353087      -0.023775        -0.043720
EverTravelledAbroad      0.486043      -0.020755         0.021238

                     FrequentFlyer  EverTravelledAbroad
ID                       -0.004596            -0.002160
Age                      -0.033159            -0.012779
Employment Type          -0.143790            -0.181098
GraduateOrNot            -0.028120             0.062683
AnnualIncome              0.353087             0.486043
FamilyMembers            -0.023775            -0.020755
ChronicDiseases          -0.043720             0.021238
FrequentFlyer             1.000000             0.277334
EverTravelledAbroad       0.277334             1.000000

#### 000 머신러닝 패키지 불러오기

In [50]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

#### 231-05 모델 점수 계산 함수

In [51]:
from sklearn.metrics import roc_auc_score

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    ypred = model.predict_proba(xtest)[:, 1]    
    B = roc_auc_score(ytest, ypred) 
    return '{:.4f} {:.4f}'.format(A, B)

#### 231-06 머신러닝 모델 실행 함수 생성

In [52]:
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))

    model2 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model2', get_scores(model2, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model2 = DecisionTreeClassifier(max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model2', d, get_scores(model2, xtrain, xtest, ytrain, ytest))

    model3 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model3 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    model4 = XGBClassifier(eval_metric='logloss', use_label_encoder=False).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

#### 231-07 스케일링 & 머신러닝 전처리

In [53]:
x_le = df_le.drop(columns=['ID'])

x_le_train = x_le[:1490]
x_le_test = x_le[1490:]

scaler = MinMaxScaler()
scaler.fit(x_le_train)
x_fin_train = scaler.transform(x_le_train)
x_fin_test = scaler.transform(x_le_test)

y_fin_train = y_train['TravelInsurance']

print(type(x_fin_train), type(x_fin_test), type(y_fin_train))
print(x_fin_train.shape, x_fin_test.shape, y_fin_train.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'pandas.core.series.Series'>
(1490, 8) (497, 8) (1490,)

#### 231-08 훈련 데이터 분할하기

In [54]:
xtrain, xtest, ytrain, ytest = train_test_split(x_fin_train, y_fin_train, test_size = 0.25, stratify=y_fin_train, random_state=1234)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(1117, 8) (373, 8) (1117,) (373,)

#### 231-09 머신러닝 실행

In [55]:
make_models(xtrain, xtest, ytrain, ytest)

model1 0.7762 0.7593
model2 0.9454 0.7211
model2 3 0.8380 0.8183
model2 4 0.8389 0.8275
model2 5 0.8424 0.8244
model2 6 0.8469 0.8002
model2 7 0.8594 0.7907
model3 0.9454 0.7955
model3 3 0.7995 0.7992
model3 4 0.8299 0.8087
model3 5 0.8415 0.8054
model3 6 0.8460 0.8005
model3 7 0.8496 0.8012
model4 0.8397 0.8084

#### 231-10 최종 모델 선택

In [56]:
final_model = DecisionTreeClassifier(max_depth=4, random_state=0).fit(xtrain, ytrain)
print('final model', get_scores(final_model, xtrain, xtest, ytrain, ytest))

final model 0.8389 0.8275

#### 231-11 최종 모델 예측 결과 csv 저장하기

In [60]:
y_pred = final_model.predict_proba(x_fin_test)[:, 1]

result = pd.DataFrame({"y_pred" : y_pred})
result.to_csv("./yemoonsaBigdata/res/insurance_y_pred.csv")